@page "/LoginLogs"
@attribute [Authorize]
@inherits BasePage

<PageTitle>@languageContainer.Keys["Login Logs"]</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>
<BrowserViewportObserver TableHeightChanged="TableHeightChanged" />

<MudCard Elevation="25">
    <MudCardContent>
        <MudDataGrid T="LoginLogDto" Dense="true" Elevation="0" FixedHeader="true" Height="@($"{tableHight}px")"
                     Loading="@(isLoading)" LoadingProgressColor="Color.Info" Filterable="true"
                     Items="loginLogs" Hover="true" SortMode="SortMode.Single" QuickFilter="@FilterFunc">

            <ToolBarContent>
                <div class="d-flex justify-content-between flex-column align-items-center flex-md-row w-100">
                    <div class="w-md-25 w-100">
                        <div class="d-flex align-items-center">
                            <MudAvatar Rounded="true" Color="Color.Info">
                                <MudIcon Icon="@Icons.Material.Filled.Security" />
                            </MudAvatar>
                            <MudText Class="mx-3" Typo="Typo.h5">@languageContainer.Keys["Login Logs"]</MudText>
                        </div>
                    </div>
                    <div class="w-md-50 w-100">
                        <MudTextField @bind-Value="searchString" Adornment="Adornment.Start" Class="mt-0 mb-5" Immediate="true"
                                      Placeholder=@($"{languageContainer.Keys["Search For"]} User Id, Role, Ip Address, User Name, Login Date")
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" />
                    </div>
                </div>
            </ToolBarContent>
            <NoRecordsContent>
                <NoDataToDisply />
            </NoRecordsContent>
            <Columns>
                <PropertyColumn Property="x => x.UserId" Title="User Id" />
                <PropertyColumn Property="x => x.Role" />
                <PropertyColumn Property="x => x.Ip" Title="Ip Address" />
                <PropertyColumn Property="x => x.UserName" Title="User Name" />
                <PropertyColumn Property="x => x.LoginDate" Title="Login Date" />
            </Columns>

            <PagerContent>
                <MudDataGridPager T="LoginLogDto" />
            </PagerContent>
        </MudDataGrid>
    </MudCardContent>
</MudCard>