@page "/Payments"
@attribute [Authorize(Roles = Roles.AdminRole)]
@inherits BasePage

<BrowserViewportObserver TableHeightChanged="TableHeightChanged" />

<PageTitle>
    @languageContainer.Keys["Payments"]
</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>

<MudCard Elevation=" 25">
    <MudCardContent>
        <MudDataGrid T="PaymentBaseDto" Dense="true" Elevation="0" FixedHeader="true" Height="@($"{tableHight}px")"
                     Loading="@(isLoading)" LoadingProgressColor="Color.Info" Filterable="true"
                     Items="payments" Hover="true" SortMode="SortMode.Single" QuickFilter="@FilterFunc">

            <ToolBarContent>
                <div class="d-flex justify-content-between flex-column align-items-center flex-md-row w-100">
                    <div class="w-md-25 w-100">
                        <div class="d-flex align-items-center">
                            <MudAvatar Rounded="true" Color="Color.Info">
                                <MudIcon Icon="@Icons.Material.Filled.Payment" />
                            </MudAvatar>
                            <MudText Class="mx-3" Typo="Typo.h5">
                                @languageContainer.Keys["Payments"]
                            </MudText>
                            <MudIconButton OnClick="OnInitializedAsync" Icon="@Icons.Material.Filled.Refresh" Color="Color.Info"></MudIconButton>
                        </div>
                    </div>
                    <div class="w-md-50 w-100">
                        <MudTextField @bind-Value="searchString" Adornment="Adornment.Start" Class="mt-0 mb-5" Immediate="true"
                                      Placeholder=@($"{languageContainer.Keys["Search For"]} {languageContainer.Keys["Id"]}, {languageContainer.Keys["Created At"]}, {languageContainer.Keys["Status"]}, {languageContainer.Keys["Type"]}, {languageContainer.Keys["Amount"]},")
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" />
                    </div>
                </div>
            </ToolBarContent>

            <NoRecordsContent>
                <NoDataToDisply />
            </NoRecordsContent>

            <Columns>
                <PropertyColumn Property="x => x.Id" Title="@languageContainer.Keys["Id"]" />
                <PropertyColumn Property="x => x.CreatedAt" Title="@languageContainer.Keys["Created At"]" />

                <TemplateColumn Context="payment" Title="@languageContainer.Keys["Status"]" Sortable="false" Filterable="false" CellClass="text-center" HeaderClass="text-center">
                    <HeaderTemplate>
                        <MudText Class="w-100">
                            @languageContainer.Keys["Status"]
                        </MudText>
                    </HeaderTemplate>
                    <CellTemplate>
                        <MudChip Variant="Variant.Text" Size="Size.Small"
                                 Color="@(payment.Item?.Status == "paid" ? Color.Success :
                                payment.Item?.Status == "initiated" ? Color.Info :
                                payment.Item?.Status == "refunded" ?  Color.Warning : Color.Error)">

                            @payment.Item?.Status?.ToUpper()
                        </MudChip>
                    </CellTemplate>
                </TemplateColumn>

                <TemplateColumn Context="payment" Title="@languageContainer.Keys["Type"]" Sortable="false" Filterable="false" CellClass="text-center" HeaderClass="text-center">
                    <HeaderTemplate>
                        <MudText Class="w-100">
                            @languageContainer.Keys["Type"]
                        </MudText>
                    </HeaderTemplate>
                    <CellTemplate>
                        @if (payment.Item?.Company == "visa")
                        {
                            <MudAvatar Class="cursor-pointer" @onclick="@(() => ShowImagePreview("/assets/media/logos/visa-logo-800x450.jpg"))" Rounded="true" Color="Color.Info">
                                <MudImage Src="/assets/media/logos/visa-logo-800x450.jpg"></MudImage>
                            </MudAvatar>
                        }
                        else if (payment.Item?.Company == "master")
                        {
                            <MudAvatar Class="cursor-pointer" @onclick="@(() => ShowImagePreview("/assets/media/logos/Mastercard_new_logo-1200x865.webp"))" Rounded="true" Color="Color.Info">
                                <MudImage Src="/assets/media/logos/Mastercard_new_logo-1200x865.webp"></MudImage>
                            </MudAvatar>
                        }
                        else if (payment.Item?.Company == "amex")
                        {
                            <MudAvatar Class="cursor-pointer" @onclick="@(() => ShowImagePreview("/assets/media/logos/1026px-American_Express_logo_(2018).svg.png"))" Rounded="true" Color="Color.Info">
                                <MudImage Src="/assets/media/logos/1026px-American_Express_logo_(2018).svg.png"></MudImage>
                            </MudAvatar>
                        }
                        else if (payment.Item?.Company == "mada")
                        {
                            <MudAvatar Class="cursor-pointer" @onclick="@(() => ShowImagePreview("/assets/media/logos/Mada.png"))" Rounded="true" Color="Color.Info">
                                <MudImage Src="/assets/media/logos/Mada.png"></MudImage>
                            </MudAvatar>
                        }
                        else
                        {
                            <MudAvatar Rounded="true" Color="Color.Info">
                                <MudIcon Icon="@Icons.Material.Filled.CreditCard" />
                            </MudAvatar>
                        }
                    </CellTemplate>
                </TemplateColumn>

                <PropertyColumn Property="x => x.AmountFormat" Title="@languageContainer.Keys["Amount"]" />

                <TemplateColumn Title="@languageContainer.Keys["Actions"]" CellClass="text-center" Context="payment" HeaderClass="text-center" Sortable="false" Filterable="false">
                    <HeaderTemplate>
                        <MudText Class="w-100">
                            @languageContainer.Keys["Actions"]
                        </MudText>
                    </HeaderTemplate>
                    <CellTemplate>
                        <div>
                            <a href=@($"/Payments/Details/{payment.Item.Id}") title="Show Details" class="btn btn-sm btn-light-info me-1 @(isDisable? "disabled" : string.Empty)">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                            <a @onclick="() => RefundPayment(payment.Item.Amount, payment.Item.Id, payment.Item.Status!)" title="Refund" class="btn btn-sm btn-light-warning me-1 @(isDisable? "disabled" : string.Empty)">
                                <i class="fa-solid fa-rotate-left"></i>
                            </a>
                            <a @onclick="() => VoidPayment(payment.Item.Id, payment.Item.Status!)" title="Delete" class="btn btn-sm btn-light-danger me-1 @(isDisable? "disabled" : string.Empty)">
                                <i class="fa-solid fa-circle-xmark"></i>
                            </a>
                            <a href="/orders/details/@payment.Item.OrderId" class="btn btn-sm btn-light-info">
                                <i class="fa-solid fa-cart-arrow-down p-0"></i>
                            </a>
                        </div>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>

            <PagerContent>
                <MudDataGridPager T="PaymentBaseDto" />
            </PagerContent>
        </MudDataGrid>
    </MudCardContent>
</MudCard>

