@page "/Services/Form/{Id:int}"
@page "/Services/Form"
@attribute [Authorize(Roles = Roles.AdminRole)]
@inherits BasePage

<PageTitle>@languageContainer.Keys[(Id == 0 ? "Add" : "Edit") + " Service"]</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>

@if (serviceForm is null)
{
    <FormLoadingSpinner IsBigForm="true" />
}
else
{
    <MudCard Elevation="25">
        <EditForm Model="@serviceForm" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudCardHeader Style="padding:20px">
                <CardHeaderAvatar>
                    <MudAvatar Rounded="true" Color="Color.Info">
                        <MudIcon Icon="@Icons.Material.Filled.Handyman" />
                    </MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Style="display: flex;align-items: center;" Typo="Typo.h5">
                        @(Id == 0 ? "Add Service" : $"Edit {serviceForm.NameEn} - {serviceForm.NameAr}")
                    </MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudButton DisableElevation="true" Href="/Services" Style="margin:10px" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Info">
                        Back to Services
                    </MudButton>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent Class="px-5 py-3">
                <div class="d-flex flex-wrap flex-md-nowrap">
                    <div class="p-3  w-100 w-md-50">
                        <MudTextField HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" @bind-Value="serviceForm.NameEn" For="@(() => serviceForm.NameEn)" HelperTextOnFocus="true" Label="@languageContainer.Keys[("Name English")]"
                                      AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccountBox" Placeholder="@languageContainer.Keys[(Placeholders.Name)]" />
                    </div>
                    <div class="p-3  w-100 w-md-50">
                        <MudTextField HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" @bind-Value="serviceForm.NameAr" For="@(() => serviceForm.NameAr)" HelperTextOnFocus="true" Label="@languageContainer.Keys[("Name Arabic")]"
                                      AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccountBox" Placeholder="@languageContainer.Keys[(Placeholders.Name)]" />
                    </div>
                    <div class="p-3 w-100 w-md-25">
                        <MudNumericField HideSpinButtons="true" @bind-Value="serviceForm.OrderIndex" For="@(() => serviceForm.OrderIndex)" Placeholder="@Placeholders.OrderIndex"
                                     Variant="Variant.Outlined" AdornmentColor="Color.Info" Adornment="Adornment.End" AdornmentText="#" HelperTextOnFocus="true" />
                    </div>
                    <div class="p-3 w-100 w-md-25">
                        <MudNumericField HideSpinButtons="true" HelperText="@languageContainer.Keys[("Required")]" @bind-Value="serviceForm.DurationInMinutes" For="@(() => serviceForm.DurationInMinutes)"
                                     Variant="Variant.Outlined" AdornmentColor="Color.Info" Adornment="Adornment.End" AdornmentText="Min" HelperTextOnFocus="true" Placeholder="@Placeholders.DurationInMinutes" />
                    </div>
                    <div class="p-3 w-100 w-md-25">
                        <MudAutocomplete T="LookupDto" SearchFunc="@GetCategories" Adornment="Adornment.Start" AnchorOrigin="Origin.BottomCenter"
                                     Variant="Variant.Outlined" ShowProgressIndicator="true" ResetValueOnEmptyText="true" CoerceText="true" AdornmentIcon="@Icons.Material.Filled.Category"
                                     ProgressIndicatorColor="Color.Info" Clearable @bind-Value="serviceForm.Category" For="@(() => serviceForm.Category)" AdornmentColor="Color.Info"
                                     ToStringFunc="@(e=> e == null ? null : $"{e.Name}")" HelperText="@languageContainer.Keys[("Required")]" Placeholder="@Placeholders.CategoryDropDown" MaxItems="null" HelperTextOnFocus="true">
                            <NoItemsTemplate>
                                <MudText Align="Align.Center" Class="px-4 py-4">
                                    No items found
                                </MudText>
                            </NoItemsTemplate>
                        </MudAutocomplete>
                    </div>
                </div>
                <MudCard Class="p-3 mb-3 border" Elevation="0">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h5">@languageContainer.Keys["Service Prices"]:</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        @{
                            priceNumber = 0;
                        }
                        @foreach (var servicePrice in serviceForm.Prices)
                        {
                            <div class="d-flex align-items-center">
                                <MudText Typo="Typo.h6">@languageContainer.Keys["Price"] @(++priceNumber):</MudText>
                                @if (serviceForm.Prices.Count > 1 && servicePrice.Currency?.Id != defaultCurrencyId)
                                {
                                    <MudIconButton OnClick="() => DeletePrice(servicePrice, serviceForm.Id)" Icon="@Icons.Material.Filled.Delete" Color="Color.Error"></MudIconButton>
                                }
                                @if (Id != 0)
                                {
                                    <MudIconButton Class="ms-1" OnClick="() => OpenPriceForm(servicePrice)" Icon="@Icons.Material.Filled.Edit" Color="Color.Info"></MudIconButton>
                                }
                                <MudSpacer/>
                            </div>
                            <div class="mt-2">
                                <ServicePrice Price="servicePrice" DefaultCurrencyId="defaultCurrencyId" IsReadOnly="@(Id == 0 ? false : true)" IsDefault="(servicePrice.Currency?.Id == defaultCurrencyId)" />
                            </div>
                            @if (serviceForm.Prices.Count > 1)
                            {
                                <MudDivider Light=true DividerType="DividerType.Middle" Class="mb-3" />
                            }
                        }
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton DisableElevation="true" OnClick="() => AddPrice()" EndIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Success">@languageContainer.Keys["Add Price"]</MudButton>
                    </MudCardActions>
                </MudCard>
                <div class="p-3 w-100">
                    <MudTextField HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" @bind-Value="serviceForm.Description" For="@(() => serviceForm.Description)"
                        HelperTextOnFocus="true" Placeholder="@Placeholders.Description" Lines="10" />
                </div>
                <div class="flex-wrap gap-5 gap-md-0 d-flex flex-md-nowrap align-items-end p-3">
                    <ImageUpload ImageSelected="CaptureUploadedImage" UploadedImageCleared="ClearUploadedImage" CurrentImage="@(Id == 0 ? null :imageUrl + serviceForm.Image)" />
                    <MudSpacer />
                    <FormButtons IsLoading="@isLoading" />
                </div>
            </MudCardContent>
            <MudCardActions>
            </MudCardActions>
        </EditForm>
    </MudCard>
}