@page "/Services/Details/{Id:int}"
@attribute [Authorize]
@inherits BasePage

<PageTitle>@languageContainer.Keys["Service Details"]</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems" />
@if (service is null)
{
    <FormLoadingSpinner IsBigForm="true" />
}
else
{
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="fw-bold card-title">
                @languageContainer.Keys["Service Details"]
            </div>
            <div class="card-toolbar">
                <a href="/Services" class="btn btn-sm btn-primary me-3">
                    <MudIcon Icon="@Icons.Material.Filled.ArrowBack" />
                    @languageContainer.Keys["Back To"] @languageContainer.Keys["Services"]
                </a>
                <a @onclick="() => OpenForm(formUri,service.Id)" class="btn btn-sm  btn-success">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    @languageContainer.Keys["Edit"]
                </a>
            </div>
        </div>
        <div class="card-body">
            <!--begin::Details content-->
            <div class="py-3 fs-6">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-6">
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Name"]:</div>
                                <div class="text-gray-600">@service.Name</div>

                                <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Duration In Minutes"]:</div>
                                <div class="text-gray-600">@HandelDuration((int)service.DurationInMinutes!)</div>
                                <!--begin::Details item-->
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Order Index"]:</div>
                                <div class="text-gray-600">@(service.OrderIndex is null ? "-" : service.OrderIndex)</div>
                                <!--begin::Details item-->
                            </div>
                            <div class="col-6">
                                <!--begin::Details item-->
                                @foreach (var price in service.Prices)
                                {
                                    <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Price In"] @languageContainer.Keys[price.Currency?.Name]:</div>
                                    <div class="text-gray-600">@($"{price.Amount} {price.Currency?.Symbol}")</div>
                                }
                                <!--begin::Details item-->
                            </div>
                        </div>
                    </div>
                    <div @onclick="@(() => ShowImagePreview(imageUrl + service.Image))" class="col-4 text-center">
                        <MudImage Class="rounded-lg border border-gray-300 mt-5" Width="300" Src=@(imageUrl + service.Image) />
                    </div>
                </div>
                <!--begin::Details item-->
                <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Description"]:</div>
                <div class="text-gray-800 p-3 rounded-lg border border-gray-400">@service.Description</div>
                <!--begin::Details item-->
            </div>
            <!--end::Details content-->
        </div>
    </div>
}
