@page "/Blogs"
@attribute [Authorize(Roles = Roles.AdminRole)]
@inherits BasePage

<PageTitle>
    @languageContainer.Keys["Blogs"]
</PageTitle>

<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>
<BrowserViewportObserver TableHeightChanged="TableHeightChanged" />

<MudCard Elevation="25">
    <MudCardContent>
        <MudDataGrid T="BlogsDto" Dense="true" Elevation="0" FixedHeader="true"
                     Height="@($"{tableHight}px")"
                     SelectedItemsChanged="SelectedItemsChanged"
                     Loading="@(isLoading)"
                     LoadingProgressColor="Color.Info"
                     Filterable="true"
                     MultiSelection="true"
                     Items="blogs"
                     Hover="true"
                     SortMode="SortMode.Single"
                     QuickFilter="@FilterFunc">

            <!-- ==== TOOLBAR ==== -->
            <ToolBarContent>
                <div class="d-flex justify-content-between flex-column align-items-center flex-md-row w-100">
                    <div class="w-md-25 w-100">
                        <div class="d-flex align-items-center">
                            <MudAvatar Rounded="true" Color="Color.Info">
                                <MudIcon Icon="@EntityIcons.BlogsIcon" />
                            </MudAvatar>

                            <MudText Class="mx-3" Typo="Typo.h5">
                                @languageContainer.Keys["Blogs"]
                            </MudText>

                            <!-- Add -->
                            <MudIconButton OnClick="() => OpenForm(formUri)"
                                           Icon="@Icons.Material.Filled.Add"
                                           Color="Color.Success" />

                            <!-- Delete selected -->
                            <MudIconButton OnClick="DeleteAll"
                                           Disabled="@(selectedIds.Count() < 2 ? true : false)"
                                           Icon="@Icons.Material.Filled.DeleteForever"
                                           Color="Color.Error" />

                            <!-- Refresh -->
                            <MudIconButton OnClick="OnInitializedAsync"
                                           Icon="@Icons.Material.Filled.Refresh"
                                           Color="Color.Info" />
                        </div>
                    </div>

                    <!-- Search -->
                    <div class="w-md-50 w-100">
                        <MudTextField @bind-Value="searchString"
                                      Adornment="Adornment.Start"
                                      Class="mt-0 mb-5"
                                      Immediate="true"
                                      Placeholder=@($"{languageContainer.Keys["Search For"]} {languageContainer.Keys["Title"]}, {languageContainer.Keys["Author"]}, {languageContainer.Keys["Tags"]}")
                                      AdornmentIcon="@Icons.Material.Filled.Search"
                                      IconSize="Size.Medium" />
                    </div>
                </div>
            </ToolBarContent>

            <!-- ==== NO RECORDS ==== -->
            <NoRecordsContent>
                <NoDataToDisply />
            </NoRecordsContent>

            <!-- ==== COLUMNS ==== -->
            <Columns>
                <!-- Select -->
                <SelectColumn T="BlogsDto" ShowInFooter="false" />

                <!-- Image -->
                <TemplateColumn CellClass="text-center"
                                HeaderClass="text-center"
                                Context="blog"
                                Sortable="false"
                                Filterable="false">
                    <CellTemplate>
                        <MudAvatar Class="cursor-all-scroll"
                                   @onclick="() => ShowImagePreview(imageUrl + blog.Item!.Image)"
                                   Rounded="true"
                                   Size="Size.Large">
                            <MudImage Src="@(imageUrl + blog.Item!.Image)" />
                        </MudAvatar>
                    </CellTemplate>
                </TemplateColumn>

                <!-- Title -->
                <PropertyColumn Property="x => x.Title"
                                Title="@($"{languageContainer.Keys["Title"]}")" />

                <!-- Author -->
                <PropertyColumn Property="x => x.Author"
                                Title="@($"{languageContainer.Keys["Author"]}")" />

                <!-- Tags -->
                <PropertyColumn Property="x => x.Tags"
                                Title="@($"{languageContainer.Keys["Tags"]}")" />

                <!-- Date -->
                <TemplateColumn Context="blog"
                                Title="@($"{languageContainer.Keys["Date"]}")"
                                Sortable="true"
                                Filterable="false"
                                HeaderClass="text-center"
                                CellClass="text-center">
                    <HeaderTemplate>
                        <MudText Class="w-100">
                            @($"{languageContainer.Keys["Date"]}")
                        </MudText>
                    </HeaderTemplate>
                    <CellTemplate>
                        <MudText>
                            @(blog.Item!.Date?.ToString("yyyy-MM-dd") ?? "-")
                        </MudText>
                    </CellTemplate>
                </TemplateColumn>

                <!-- Actions -->
                <TemplateColumn Title="@($"{languageContainer.Keys["Actions"]}")"
                                CellClass="text-center"
                                Context="blog"
                                HeaderClass="text-center"
                                Sortable="false"
                                Filterable="false">
                    <HeaderTemplate>
                        <MudText Class="w-100">
                            @($"{languageContainer.Keys["Actions"]}")
                        </MudText>
                    </HeaderTemplate>
                    <CellTemplate>
                        <div>
                            <TableButtons IsDisable="isDisable"
                                          EditClicked="() => OpenForm(formUri, blog.Item!.Id)"
                                          DeleteClicked="() => Delete(blog.Item!.Id)"
                                          DetailsClicked="() => OpenDetails(detailsUri, blog.Item!.Id)" />
                        </div>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>

            <!-- ==== PAGER ==== -->
            <PagerContent>
                <MudDataGridPager T="BlogsDto" />
            </PagerContent>

        </MudDataGrid>
    </MudCardContent>
</MudCard>
