@page "/Blogs/Details/{Id:int}"
@attribute [Authorize(Roles = Roles.AdminRole)]
@inherits BasePage

<PageTitle>
    @($"{languageContainer.Keys["Blog"]} {languageContainer.Keys["Details"]}")
</PageTitle>

<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>

@if (blog is null)
{
    <FormLoadingSpinner IsBigForm="true" />
}
else
{
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="fw-bold card-title">
                @($"{blog.Title} {languageContainer.Keys["Details"]}")
            </div>
            <div class="card-toolbar">
                <a href="/Blogs" class="btn btn-sm btn-primary me-3">
                    <MudIcon Icon="@Icons.Material.Filled.ArrowBack" />
                    @languageContainer.Keys["Back To"] @languageContainer.Keys["Blogs"]
                </a>
                <a @onclick="() => OpenForm(formUri, blog.Id)" class="btn btn-sm btn-success">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    @languageContainer.Keys["Edit"]
                </a>
            </div>
        </div>

        <div class="card-body">
            <div class="py-3 fs-6">
                <div class="row">

                    <!-- TEXT CONTENT -->
                    <div class="col-8 align-self-start">

                        <!-- Title -->
                        <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Title"]:</div>
                        <div class="text-gray-600">@blog.Title</div>

                        <!-- Author -->
                        <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Author"]:</div>
                        <div class="text-gray-600">@blog.Author</div>

                        <!-- Date -->
                        <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Date"]:</div>
                        <div class="text-gray-600">
                            @(blog.Date.HasValue
                                                    ? blog.Date.Value.ToString("yyyy-MM-dd HH:mm")
                                                    : "-")
                         </div>

                        <!-- Blog Introduction -->
                        <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Blog Introduction"]:</div>
                        <div class="text-gray-600">
                            @(string.IsNullOrWhiteSpace(blog.BlogIntroduction) ? "-" : blog.BlogIntroduction)
                        </div>

                        <!-- Tags -->
                        <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Tags"]:</div>
                        <div class="text-gray-600">@blog.Tags</div>

                        <!-- Order Index -->
                        <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Order Index"]:</div>
                        <div class="text-gray-600">
                            @(blog.OrderIndex is null ? "-" : blog.OrderIndex)
                        </div>

                    </div>

                    <!-- IMAGE -->
                    <div @onclick="@(() => ShowImagePreview(imageUrl + blog.Image))"
                         class="col-4 text-center">
                        <MudImage Class="rounded-lg border border-gray-300 mt-5"
                                  Width="300"
                                  Src="@(imageUrl + blog.Image)" />
                    </div>

                </div>
            </div>
        </div>
    </div>
}
