@page "/Certificates/Details/{Id:int}"
@attribute [Authorize(Roles = Roles.AdminRole)]
@inherits BasePage

<PageTitle>
    @($"{languageContainer.Keys["Certificate"]} {languageContainer.Keys["Details"]}")
</PageTitle>

<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>

@if (certificate is null)
{
    <FormLoadingSpinner IsBigForm="true" />
}
else
{
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="fw-bold card-title">
                @($"{certificate.NameEn} - {certificate.NameAr} {languageContainer.Keys["Details"]}")
            </div>
            <div class="card-toolbar">
                <a href="/Certificates" class="btn btn-sm btn-primary me-3">
                    <MudIcon Icon="@Icons.Material.Filled.ArrowBack" />
                    @languageContainer.Keys["Back To"] @languageContainer.Keys["Certificates"]
                </a>
                <a @onclick="() => OpenForm(formUri, certificate.Id)" class="btn btn-sm btn-success">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    @languageContainer.Keys["Edit"]
                </a>
            </div>
        </div>
        <div class="card-body">
            <!--begin::Details content-->
            <div class="py-3 fs-6">
                <div class="row">
                    <div class="col-8 align-self-start">
                        <!-- Name English -->
                        <div class="fw-bold mt-5 mb-1">
                            @languageContainer.Keys["Name English"]:
                        </div>
                        <div class="text-gray-600">@certificate.NameEn</div>

                        <!-- Name Arabic -->
                        <div class="fw-bold mt-5 mb-1">
                            @languageContainer.Keys["Name Arabic"]:
                        </div>
                        <div class="text-gray-600">@certificate.NameAr</div>

                        <!-- Order Index -->
                        <div class="fw-bold mt-5 mb-1">
                            @languageContainer.Keys["Order Index"]:
                        </div>
                        <div class="text-gray-600">
                            @(certificate.OrderIndex is null ? "-" : certificate.OrderIndex)
                        </div>
                    </div>

                    <!-- Image -->
                    <div class="col-4 text-center"
                         @onclick="@(() => ShowImagePreview(imageUrl + certificate.Image))">
                        @if (!string.IsNullOrWhiteSpace(certificate.Image))
                        {
                            <MudImage Class="rounded-lg border border-gray-300 mt-5"
                                      Width="300"
                                      Src="@(imageUrl + certificate.Image)" />
                        }
                        else
                        {
                            <MudAvatar Rounded="true" Size="Size.Large" Class="mt-5">
                                <MudIcon Icon="@Icons.Material.Filled.Person" />
                            </MudAvatar>
                        }
                    </div>
                </div>
            </div>
            <!--end::Details content-->
        </div>
    </div>
}
