@page "/Certificates"
@attribute [Authorize(Roles = Roles.AdminRole)]
@inherits BasePage

<PageTitle>
    @languageContainer.Keys["Certificates"]
</PageTitle>

<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>
<BrowserViewportObserver TableHeightChanged="TableHeightChanged" />

<MudCard Elevation="25">
    <MudCardContent>
        <MudDataGrid T="CertificatesDto" Dense="true" Elevation="0" FixedHeader="true"
                     Height="@($"{tableHight}px")"
                     SelectedItemsChanged="SelectedItemsChanged"
                     Loading="@(isLoading)"
                     LoadingProgressColor="Color.Info"
                     Filterable="true"
                     MultiSelection="true"
                     Items="certificates"
                     Hover="true"
                     SortMode="SortMode.Single"
                     QuickFilter="@FilterFunc">

            <!-- ==== TOOLBAR ==== -->
            <ToolBarContent>
                <div class="d-flex justify-content-between flex-column align-items-center flex-md-row w-100">
                    <div class="w-md-25 w-100">
                        <div class="d-flex align-items-center">
                            <MudAvatar Rounded="true" Color="Color.Info">
                                <MudIcon Icon="@EntityIcons.CertificatesIcon" />
                            </MudAvatar>

                            <MudText Class="mx-3" Typo="Typo.h5">
                                @languageContainer.Keys["Certificates"]
                            </MudText>

                            <!-- Add -->
                            <MudIconButton OnClick="() => OpenForm(formUri)"
                                           Icon="@Icons.Material.Filled.Add"
                                           Color="Color.Success" />

                            <!-- Delete selected -->
                            <MudIconButton OnClick="DeleteAll"
                                           Disabled="@(selectedIds.Count() < 2 ? true : false)"
                                           Icon="@Icons.Material.Filled.DeleteForever"
                                           Color="Color.Error" />

                            <!-- Refresh -->
                            <MudIconButton OnClick="OnInitializedAsync"
                                           Icon="@Icons.Material.Filled.Refresh"
                                           Color="Color.Info" />
                        </div>
                    </div>

                    <!-- Search -->
                    <div class="w-md-50 w-100">
                        <MudTextField @bind-Value="searchString"
                                      Adornment="Adornment.Start"
                                      Class="mt-0 mb-5"
                                      Immediate="true"
                                      Placeholder=@($"{languageContainer.Keys["Search For"]} {languageContainer.Keys["Name"]}, {languageContainer.Keys["Order Index"]}")
                                      AdornmentIcon="@Icons.Material.Filled.Search"
                                      IconSize="Size.Medium" />
                    </div>
                </div>
            </ToolBarContent>

            <!-- ==== NO RECORDS ==== -->
            <NoRecordsContent>
                <NoDataToDisply />
            </NoRecordsContent>

            <!-- ==== COLUMNS ==== -->
            <Columns>
                <!-- Select -->
                <SelectColumn T="CertificatesDto" ShowInFooter="false" />

                <!-- Image -->
                <TemplateColumn CellClass="text-center"
                                HeaderClass="text-center"
                                Context="certificate"
                                Sortable="false"
                                Filterable="false">
                    <CellTemplate>
                        @if (!string.IsNullOrWhiteSpace(certificate.Item!.Image))
                        {
                            <MudAvatar Class="cursor-all-scroll"
                                       @onclick="() => ShowImagePreview(imageUrl + certificate.Item!.Image)"
                                       Rounded="true"
                                       Size="Size.Large">
                                <MudImage Src="@(imageUrl + certificate.Item!.Image)" />
                            </MudAvatar>
                        }
                        else
                        {
                            <MudAvatar Rounded="true" Size="Size.Large">
                                <MudIcon Icon="@Icons.Material.Filled.Person" />
                            </MudAvatar>
                        }
                    </CellTemplate>
                </TemplateColumn>

                <!-- Name English -->
                <PropertyColumn Property="x => x.NameEn"
                                Title="@($"{languageContainer.Keys["Name English"]}")" />

                <!-- Name Arabic -->
                <PropertyColumn Property="x => x.NameAr"
                                Title="@($"{languageContainer.Keys["Name Arabic"]}")" />

                <!-- Order Index -->
                <PropertyColumn Property="x => x.OrderIndex"
                                Title="@($"{languageContainer.Keys["Order Index"]}")" />

                <!-- Actions -->
                <TemplateColumn Title="@($"{languageContainer.Keys["Actions"]}")"
                                CellClass="text-center"
                                Context="certificate"
                                HeaderClass="text-center"
                                Sortable="false"
                                Filterable="false">
                    <HeaderTemplate>
                        <MudText Class="w-100">
                            @($"{languageContainer.Keys["Actions"]}")
                        </MudText>
                    </HeaderTemplate>
                    <CellTemplate>
                        <div>
                            <TableButtons IsDisable="isDisable"
                                          EditClicked="() => OpenForm(formUri, certificate.Item!.Id)"
                                          DeleteClicked="() => Delete(certificate.Item!.Id)"
                                          DetailsClicked="() => OpenDetails(detailsUri, certificate.Item!.Id)" />
                        </div>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>

            <!-- ==== PAGER ==== -->
            <PagerContent>
                <MudDataGridPager T="CertificatesDto" />
            </PagerContent>

        </MudDataGrid>
    </MudCardContent>
</MudCard>
