@page "/Contracts"
@attribute [Authorize(Roles = Roles.AdminRole)]
@inherits BasePage

<PageTitle>@languageContainer.Keys["Contracts"]</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>
<BrowserViewportObserver TableHeightChanged="TableHeightChanged" />

<MudCard Elevation="25">
        <MudCardContent>
            <MudDataGrid T="ContractDto" Dense="true" Elevation="0" FixedHeader="true" Height="@($"{tableHight}px")"
                         Loading="@(isLoading)" LoadingProgressColor="Color.Info" Filterable="true"
                         Items="contracts" Hover="true" SortMode="SortMode.Single" QuickFilter="@FilterFunc">

                <ToolBarContent>
                    <div class="d-flex justify-content-between flex-column align-items-center flex-md-row w-100">
                        <div class="w-md-25 w-100">
                            <div class="d-flex align-items-center">
                                <MudAvatar Rounded="true" Color="Color.Info">
                                    <MudIcon Icon="@EntityIcons.ContractsIcon" />
                                </MudAvatar>
                                <MudText Class="mx-3" Typo="Typo.h5">@languageContainer.Keys["Contracts"]</MudText>
                                <MudIconButton OnClick="() => OpenForm(formUri)" Icon="@Icons.Material.Filled.Add" Color="Color.Success"></MudIconButton>
                            </div>
                        </div>
                        <div class="w-md-50 w-100">
                            <MudTextField @bind-Value="searchString" Adornment="Adornment.Start" Class="mt-0 mb-5" Immediate="true"
                                          Placeholder=@($"{languageContainer.Keys["Search For"]} {languageContainer.Keys["Serial Number"]}, {languageContainer.Keys["Client Name"]}, {languageContainer.Keys["Date"]}")
                                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" />
                        </div>
                    </div>
                </ToolBarContent>

                <NoRecordsContent>
                    <NoDataToDisply />
                </NoRecordsContent>
                  
                <Columns>
                    <PropertyColumn Property="x => x.ContractClient.Name" Title="@languageContainer.Keys["Contract Client"]" />
                    <PropertyColumn Property="x => x.EffectiveDate" Title="@languageContainer.Keys["Effective Date"]" />
                    <PropertyColumn Property="x => x.CreatedAt" Title="@languageContainer.Keys["Created Date"]" />

                    <TemplateColumn CellStyle="width:300px" CellClass="text-center" Context="contractClient" HeaderClass="text-center" Sortable="false" Filterable="false">
                        <HeaderTemplate>
                            <MudText Class="w-100">@languageContainer.Keys["Actions"]</MudText>
                        </HeaderTemplate>
                        <CellTemplate>
                            <TableButtons IsDisable="isDisable" EditClicked="() => OpenForm(formUri,contractClient.Item!.Id)"
                                          DeleteClicked="() => Delete(contractClient.Item!.Id)" DetailsClicked="() => OpenDetails(detailsUri,contractClient.Item!.Id)" />
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>

                <PagerContent>
                    <MudDataGridPager T="ContractDto" />
                </PagerContent>
            </MudDataGrid>
        </MudCardContent>
    </MudCard>