@page "/Supervisors"
@attribute [Authorize(Roles = $"{Roles.AdminRole},{Roles.ManagerRole}")]
@inherits BasePage

<BrowserViewportObserver TableHeightChanged="TableHeightChanged" />

@if (ManagerId is null)
{
    <PageTitle>
        @languageContainer.Keys["Supervisors"]
    </PageTitle>
    <MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>
}

<MudCard Elevation="@(ManagerId is null? 25 : 0)">
    <MudCardContent>
        <MudDataGrid T="SupervisorDto" Dense="true" Elevation="0" FixedHeader="true" Height="@($"{tableHight}px")" FilterCaseSensitivity="DataGridFilterCaseSensitivity.CaseInsensitive"
                     Loading="@(isLoading)" LoadingProgressColor="Color.Info" Filterable="true" FilterMode="DataGridFilterMode.Simple" MultiSelection="true"
                     Items="supervisors" Hover="true" SortMode="SortMode.Single" QuickFilter="@FilterFunc" SelectedItemsChanged="SelectedItemsChanged">

            <ToolBarContent>
                <div class="d-flex justify-content-between flex-column align-items-center flex-md-row w-100">
                    <div class="w-md-25 w-100">
                        <div class="d-flex align-items-center">
                            <MudAvatar Rounded="true" Color="Color.Info">
                                <MudIcon Icon="@Icons.Material.Filled.SupervisorAccount" />
                            </MudAvatar>
                            <MudText Class="mx-3" Typo="Typo.h5">
                                @languageContainer.Keys["Supervisors"]
                            </MudText>
                            <MudIconButton OnClick="() => OpenForm(formUri)" Icon="@Icons.Material.Filled.Add" Color="Color.Success"></MudIconButton>
                            <MudIconButton OnClick="DeleteAll" Disabled="@(selectedIds.Count() < 2 ? true : false)" Icon="@Icons.Material.Filled.DeleteForever" Color="Color.Error"></MudIconButton>
                        </div>
                    </div>
                    <div class="w-md-50 w-100">
                        <MudTextField @bind-Value="searchString" Adornment="Adornment.Start" Class="mt-0 mb-5" Immediate="true"
                                      Placeholder=@($"{languageContainer.Keys["Search For"]} {languageContainer.Keys["Name"]}, {languageContainer.Keys["Contact Email"]}, {languageContainer.Keys["Contact Phone"]}")
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" />
                    </div>
                </div>
            </ToolBarContent>

            <NoRecordsContent>
                <NoDataToDisply />
            </NoRecordsContent>

            <Columns>
                <SelectColumn T="SupervisorDto" ShowInFooter="false" />

                <TemplateColumn Context="supervisor" CellClass="text-center" HeaderClass="text-center" Sortable="false" Filterable="false">
                    <CellTemplate>
                        <MudAvatar Color="Color.Info" Class="cursor-all-scroll" @onclick="() => ShowImagePreview(imageUrl + supervisor.Item!.Image)" Rounded="true" Size="Size.Large">
                            <MudImage Src="@(imageUrl + supervisor.Item!.Image)" />
                        </MudAvatar>
                    </CellTemplate>
                </TemplateColumn>

                <PropertyColumn Property="x => x.FirstName" Title="@languageContainer.Keys["First Name"]" />
                <PropertyColumn Property="x => x.LastName" Title="@languageContainer.Keys["Last Name"]" />
                <PropertyColumn Property="x => x.ContactEmail" Title="@languageContainer.Keys["Contact Email"]" />
                <PropertyColumn Property="x => x.ContactPhone" Title="@languageContainer.Keys["Contact Phone"]" />

                <TemplateColumn Title="@languageContainer.Keys["Actions"]" CellClass="text-center" Context="supervisor" HeaderClass="text-center" Sortable="false" Filterable="false">
                    <HeaderTemplate>
                        <MudText Class="w-100">
                            @languageContainer.Keys["Actions"]
                        </MudText>
                    </HeaderTemplate>
                    <CellTemplate>
                        <div>
                            <TableButtons IsDisable="isDisable" EditClicked="() => OpenForm(formUri, supervisor.Item!.Id)" DeleteClicked="() => Delete(supervisor.Item!.Id)"
                                          DetailsClicked="() => OpenDetails(detailsUri, supervisor.Item!.Id)" />
                        </div>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>

            <PagerContent>
                <MudDataGridPager T="SupervisorDto" />
            </PagerContent>
        </MudDataGrid>
    </MudCardContent>
</MudCard>

