@page "/Projects/Form/{Id:int}"
@page "/Projects/Form"
@attribute [Authorize(Roles = Roles.AdminRole)]
@inherits BasePage

<PageTitle>
    @($"{languageContainer.Keys[(Id == 0 ? "Add" : "Edit")]} {languageContainer.Keys[("Project")]}")
</PageTitle>

<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>

@if (projectForm is null)
{
    <FormLoadingSpinner IsBigForm="true" />
}
else
{
    <MudCard Elevation="25">
        <EditForm Model="@projectForm" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />

            <!-- ========= HEADER ========= -->
            <MudCardHeader Style="padding:20px">
                <CardHeaderAvatar>
                    <MudAvatar Rounded="true" Color="Color.Info">
                        <MudIcon Icon="@EntityIcons.ProjectsIcon" />
                    </MudAvatar>
                </CardHeaderAvatar>

                <CardHeaderContent>
                    <MudText Style="display: flex;align-items: center;" Typo="Typo.h5">
                        @(Id == 0
                                            ? $"{languageContainer.Keys[("Add")]} {languageContainer.Keys[("Project")]}"
                                            : $"{languageContainer.Keys[("Edit")]} {projectForm.NameEn} - {projectForm.NameAr}")
                </MudText>
            </CardHeaderContent>

                <CardHeaderActions>
                    <MudButton DisableElevation="true"
                               Href="/Projects"
                               Style="margin:10px"
                               Variant="Variant.Filled"
                               StartIcon="@Icons.Material.Filled.ArrowBack"
                               Color="Color.Info">
                        @($"{languageContainer.Keys[("Back to")]} {languageContainer.Keys[("Projects")]}")
                    </MudButton>
                </CardHeaderActions>
            </MudCardHeader>

            <!-- ========= CONTENT ========= -->
            <MudCardContent Class="px-5 py-3">

                <!-- Row 1: Names + OrderIndex + Link -->
                <div class="d-flex flex-wrap flex-md-nowrap">
                    <div class="p-3 w-100 w-md-25">
                        <MudTextField HelperText="@languageContainer.Keys[("Required")]"
                                      Variant="Variant.Outlined"
                                      @bind-Value="projectForm.NameEn"
                                      For="@(() => projectForm.NameEn)"
                                      HelperTextOnFocus="true"
                                      Label="@languageContainer.Keys[("Name English")]"
                                      AdornmentColor="Color.Info"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.AccountBox"
                                      Placeholder="@languageContainer.Keys[(Placeholders.Name)]" />
                    </div>

                    <div class="p-3 w-100 w-md-25">
                        <MudTextField HelperText="@languageContainer.Keys[("Required")]"
                                      Variant="Variant.Outlined"
                                      @bind-Value="projectForm.NameAr"
                                      For="@(() => projectForm.NameAr)"
                                      HelperTextOnFocus="true"
                                      Label="@languageContainer.Keys[("Name Arabic")]"
                                      AdornmentColor="Color.Info"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.AccountBox"
                                      Placeholder="@languageContainer.Keys[(Placeholders.Name)]" />
                    </div>

                    <div class="p-3 w-100 w-md-25">
                        <MudNumericField HideSpinButtons="true"
                                         @bind-Value="projectForm.OrderIndex"
                                         For="@(() => projectForm.OrderIndex)"
                                         HelperTextOnFocus="true"
                                         Label="@languageContainer.Keys[("Order Index")]"
                                         Variant="Variant.Outlined"
                                         AdornmentColor="Color.Info"
                                         Adornment="Adornment.End"
                                         AdornmentText="#"
                                         Placeholder="@languageContainer.Keys[(Placeholders.OrderIndex)]" />
                    </div>

                    <div class="p-3 w-100 w-md-25">
                        <MudTextField Variant="Variant.Outlined"
                                      @bind-Value="projectForm.Link"
                                      For="@(() => projectForm.Link)"
                                      HelperTextOnFocus="true"
                                      Label="@languageContainer.Keys[("Link")]"
                                      AdornmentColor="Color.Info"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.Link"
                                      Placeholder="@languageContainer.Keys[(Placeholders.Link)]" />
                    </div>
                    <div class="p-3 w-100 w-md-25">
                        <MudDatePicker AdornmentColor="Color.Info" Variant="Variant.Outlined" @bind-Date="projectForm.CreatedAtLocal" For="@(() => projectForm.CreatedAtLocal)" Placeholder="@languageContainer.Keys["Select Date"]" Label="@languageContainer.Keys["Creation Date"]" />
                    </div>
                </div>

                <!-- Row 2: Description -->
                <div class="d-flex flex-wrap flex-md-nowrap">
                    <div class="p-3 w-100">
                        <MudTextField Lines="4"
                                      Variant="Variant.Outlined"
                                      @bind-Value="projectForm.Description"
                                      For="@(() => projectForm.Description)"
                                      HelperTextOnFocus="true"
                                      Label="@languageContainer.Keys[("Description")]"
                                      AdornmentColor="Color.Info"
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="@Icons.Material.Filled.Description"
                                      Placeholder="@languageContainer.Keys[(Placeholders.Description)]"
                                      Text="@projectForm.Description" />
                    </div>
                </div>

                <!-- Row 3: Image upload + buttons -->
                <div class="flex-wrap gap-5 gap-md-0 d-flex flex-md-nowrap align-items-end p-3">
                    <ImageUpload ImageSelected="CaptureUploadedImage"
                                 UploadedImageCleared="ClearUploadedImage"
                                 CurrentImage="@(Id == 0 ? null : imageUrl + projectForm.Image)" />
                    <MudSpacer />
                    <FormButtons IsLoading="@isLoading" />
                </div>
            </MudCardContent>

            <MudCardActions>
            </MudCardActions>
        </EditForm>
    </MudCard>
}
