@page "/ContractClients/Details/{Id:int}"
@attribute [Authorize(Roles = Roles.AdminRole)]
@inherits BasePage

<PageTitle>
    @languageContainer.Keys["Contract Client Details"]
</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>

@if (contractClient is null)
{
    <FormLoadingSpinner IsBigForm="true" />
}
else
{
    <div class="d-flex flex-column flex-md-row">
        <!--begin::Sidebar-->
        <div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">
            <!--begin::Card-->
            <div class="card mb-5 mb-xl-8 shadow-sm">
                <!--begin::Card body-->
                <div class="card-body pt-15">
                    <!--begin::Summary-->
                    <div class="d-flex flex-center flex-column">
                        <!--begin::Avatar-->
                        <MudAvatar Class="border border-gray-300" Style="height:200px; width:200px;" Rounded="true" @onclick="() => ShowImagePreview(imageUrl + contractClient.Image)" Color="Color.Primary">
                            <MudImage Src="@(imageUrl + contractClient.Image)"></MudImage>
                        </MudAvatar>
                        <!--end::Avatar-->
                        <!--begin::Name-->
                        <a class="fs-3 text-gray-800 text-hover-primary fw-bold my-2">
                            @contractClient.Name
                        </a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="fs-5 fw-semibold text-muted">
                            @contractClient.ContactEmail
                        </div>
                        <!--end::Position-->
                        <!--begin::Position-->
                        <div class="fs-5 fw-semibold text-muted mb-6">
                            @contractClient.ContactPhone
                        </div>
                        <!--end::Position-->
                    </div>
                    <!--end::Summary-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
            <div class="card shadow-sm">
                <div class="card-header border-0 cursor-pointer">
                    <div class="card-title m-0">
                        <h3 class="fw-bold m-0">Account Settings</h3>
                    </div>
                </div>
                <!--begin::Card body-->
                <div class="card-body">
                    <!--begin::Email Address-->
                    <div class="d-flex d-md-inline flex-wrap align-items-center">
                        <!--begin::Label-->
                        <div>
                            <div class="fs-6 fw-bold mb-1">Email Address</div>
                            <div class="fw-semibold text-gray-600">Test@EmailAddressAttribute.com</div>
                        </div>
                        <!--end::Label-->
                        <!--begin::Action-->
                        <div class="ms-auto mt-md-3">
                            <button class="btn btn-light-primary">Change Email</button>
                        </div>
                        <!--end::Action-->
                    </div>
                    <!--end::Email Address-->
                    <!--begin::Separator-->
                    <div class="separator separator-dashed my-6"></div>
                    <!--end::Separator-->
                    <!--begin::Password-->
                    <div class="d-flex d-md-inline flex-wrap align-items-center mb-10">
                        <!--begin::Label-->
                        <div>
                            <div class="fs-6 fw-bold mb-1">Password</div>
                            <div class="fw-semibold text-gray-600">************</div>
                        </div>
                        <!--end::Label-->
                        <!--begin::Action-->
                        <div class="ms-auto mt-md-3">
                            <button class="btn btn-light-primary">Reset Password</button>
                        </div>
                        <!--end::Action-->
                    </div>
                    <!--end::Password-->
                </div>
                <!--end::Card body-->
            </div>
        </div>
        <!--end::Sidebar-->
        <!--begin::Content-->
        <div class="flex-lg-row-fluid ms-lg-15">
            <!--begin:::Tabs-->
            <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8" role="tablist">
                <!--begin:::Tab item-->
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_customer_view_overview_tab" aria-selected="true" role="tab">Overview</a>
                </li>
                <!--end:::Tab item-->
                <!--begin:::Tab item-->
                <li class="nav-item ms-auto">
                    <!--begin::Action menu-->
                    <a href="/Providers" class="btn btn-primary ps-7">
                        <MudIcon Icon="@Icons.Material.Filled.ArrowBack" />
                        Back To Providers
                    </a>
                    <!--end::Menu-->
                </li>
                <!--end:::Tab item-->
            </ul>
            <!--end:::Tabs-->
            <!--begin:::Tab content-->
            <div class="tab-content" id="myTabContent">
                <!--begin:::Tab pane-->
                <div class="tab-pane fade active show" id="kt_customer_view_overview_tab" role="tabpanel">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="d-flex flex-stack fs-4 py-3">
                                <div class="fw-bold">
                                    Details
                                </div>
                                <span>
                                    <a @onclick="() => OpenForm(formUri,contractClient.Id)" class="btn btn-sm btn-light-primary">
                                        Edit
                                    </a>
                                </span>
                            </div>
                            <!--end::Details toggle-->
                            <div class="separator separator-dashed"></div>
                            <!--begin::Details content-->
                            <div class="py-3 fs-6">
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5">Nationality</div>
                                <div class="text-gray-600">@contractClient.Nationality?.Name</div>
                                <!--begin::Details item-->
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5">Gender</div>
                                <div class="text-gray-600">@contractClient.Gender</div>
                                <!--begin::Details item-->
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5">Contact Email</div>
                                <div class="text-gray-600">@contractClient.ContactEmail</div>
                                <!--begin::Details item-->
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5">Contact Phone</div>
                                <div class="text-gray-600">@contractClient.ContactPhone</div>
                                <!--begin::Details item-->
                            </div>
                            <!--end::Details content-->
                        </div>
                    </div>
                </div>
                <!--end:::Tab pane-->
            </div>
            <!--end:::Tab content-->
        </div>
        <!--end::Content-->
    </div>
}
