@page "/"
@inherits BasePage
@attribute [Authorize(Roles = Roles.AdminRole)]

<PageTitle>@languageContainer.Keys["Home"]</PageTitle>

@if (isLoading)
{
    <FormLoadingSpinner IsBigForm="true" />
}
else
{
    <div class="row mb-3">
        <div class="col-md-7 col-12 mb-md-0 mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <MudCard Class="bg-transparent" Elevation="0">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5">@languageContainer.Keys["Current User"]</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="d-flex flex-wrap">
                                        <div class="p-3 w-100">
                                            <MudText Class="fw-bold" Typo="Typo.body1">@languageContainer.Keys["Email"]</MudText>
                                            <MudText>@claims.FirstOrDefault(x => x.Type == ClaimTypes.Email)?.Value</MudText>
                                        </div>
                                        <div class="p-3 w-100">
                                            <MudText Class="fw-bold" Typo="Typo.body1">@languageContainer.Keys["Login Date"]</MudText>
                                            <MudText>@(claims.FirstOrDefault(x => x.Type == "LoginDate")?.Value)</MudText>
                                        </div>
                                        <div class="p-3 w-50">
                                                <MudText Class="fw-bold" Typo="Typo.body1">@languageContainer.Keys["Role"]</MudText>
                                            <MudText>@claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value</MudText>
                                        </div>
                                        <div class="p-3 w-50">
                                            <MudText Class="fw-bold" Typo="Typo.body1">@languageContainer.Keys["IP Address"]</MudText>
                                            <MudText>@(claims.FirstOrDefault(x => x.Type == "IpAddress")?.Value)</MudText>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 mt-5 mt-md-5 text-center">
                                    <MudImage Src="/images/home-office.png" Fluid="true" Class="rounded-lg" />
                                </div>
                            </div>
                        </MudCardContent>
                    </MudCard>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-12 mb-md-0 mb-3">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <MudCard Class="bg-transparent" Elevation="0">
                        <MudCardContent>
                            <div class="d-flex justify-content-center align-items-center">
                                <MudImage Src="/images/Logo.png" Width="230" Class="rounded-lg ma-4" />
                            </div>
                        </MudCardContent>
                    </MudCard>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6 col-md-3 mb-3 mb-md-0">
            <div class="card card-flush shadow-sm">
                <div class="card-header">
                    <h2 class="card-title fw-bold">@languageContainer.Keys["Services"]</h2>
                </div>
                <div class="card-body pt-0">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div>
                            <MudIcon Size="Size.Large" Icon="@Icons.Material.TwoTone.Handyman" Title="Services" />
                            <div class="fw-semibold text-gray-400 mt-5">
                                <span class="text-gray-900 fw-bold fs-2 me-1">@Services.Count</span>
                                @languageContainer.Keys["Services"]
                            </div>
                        </div>
                        <div>
                            <MudButton Class="fw-bold" Href="/Services" Size="Size.Large" Variant="Variant.Text">
                                <div class="d-flex flex-column align-items-center">
                                    <MudIcon Size="Size.Large" Class="mb-1" Icon="@Icons.Material.TwoTone.ArrowCircleRight" />
                                    @languageContainer.Keys["More Info"]
                                </div>
                            </MudButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3 mb-md-0">
            <div class="card card-flush shadow-sm">
                <div class="card-header">
                    <h2 class="card-title fw-bold">@languageContainer.Keys["Clients"]</h2>
                </div>
                <div class="card-body pt-0">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div>
                            <MudIcon Size="Size.Large" Icon="@Icons.Material.TwoTone.Diversity1" Title="Clients" />
                            <div class="fw-semibold text-gray-400 mt-5">
                                <span class="text-gray-900 fw-bold fs-2 me-1">@Clients.Count</span>
                                @languageContainer.Keys["Clients"]
                            </div>
                        </div>
                        <div>
                            <MudButton Class="fw-bold" Href="/Clients" Size="Size.Large" Variant="Variant.Text">
                                <div class="d-flex flex-column align-items-center">
                                    <MudIcon Size="Size.Large" Class="mb-1" Icon="@Icons.Material.TwoTone.ArrowCircleRight" />
                                    @languageContainer.Keys["More Info"]
                                </div>
                            </MudButton>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3 mb-md-0">
            <div class="card card-flush shadow-sm">
                <div class="card-header">
                    <h2 class="card-title fw-bold">@languageContainer.Keys["Supervisors"]</h2>
                </div>
                <div class="card-body pt-0">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div>
                            <MudIcon Size="Size.Large" Icon="@Icons.Material.TwoTone.SupervisorAccount" Title="Supervisors" />
                            <div class="fw-semibold text-gray-400 mt-5">
                                <span class="text-gray-900 fw-bold fs-2 me-1">@Supervisors.Count</span>
                                @languageContainer.Keys["Supervisors"]
                            </div>
                        </div>
                        <div>
                            <MudButton Class="fw-bold" Href="/Supervisors" Size="Size.Large" Variant="Variant.Text">
                                <div class="d-flex flex-column align-items-center">
                                    <MudIcon Size="Size.Large" Class="mb-1" Icon="@Icons.Material.TwoTone.ArrowCircleRight" />
                                    @languageContainer.Keys["More Info"]
                                </div>
                            </MudButton>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 mb-3 mb-md-0">
            <div class="card card-flush shadow-sm">
                <div class="card-header">
                    <h2 class="card-title fw-bold">@languageContainer.Keys["Managers"]</h2>
                </div>
                <div class="card-body pt-0">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div>
                            <MudIcon Size="Size.Large" Icon="@Icons.Material.TwoTone.Diversity3" Title="Managers" />
                            <div class="fw-semibold text-gray-400 mt-5">
                                <span class="text-gray-900 fw-bold fs-2 me-1">@Managers.Count</span>
                                @languageContainer.Keys["Managers"]
                            </div>
                        </div>
                        <div>
                            <MudButton Class="fw-bold" Href="/Managers" Size="Size.Large" Variant="Variant.Text">
                                <div class="d-flex flex-column align-items-center">
                                    <MudIcon Size="Size.Large" Class="mb-1" Icon="@Icons.Material.TwoTone.ArrowCircleRight" />
                                    @languageContainer.Keys["More Info"]
                                </div>
                            </MudButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@code {

    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    private List<LookupDto>? Managers;
    private List<LookupDto>? Supervisors;
    private List<LookupDto>? Clients;
    private List<LookupDto>? Services;


    protected override async Task OnInitializedAsync()
    {
        StartProcessing();

        claims = await GetClaimsPrincipalData();

        var managersTask = GetAllLookupsAsync("Managers");
        var supervisorsTask = GetAllLookupsAsync("Supervisors");
        var clientsTask = GetAllLookupsAsync("Clients");
        var servicesTask = GetAllLookupsAsync("Services");

        await Task.WhenAll(managersTask, supervisorsTask, clientsTask, servicesTask);

        Managers = await managersTask;
        Supervisors = await supervisorsTask;
        Clients = await clientsTask;
        Services = await servicesTask;

        StopProcessing();
    }
}