@page "/Categories/Form/{Id:int}"
@page "/Categories/Form"
@attribute [Authorize]
@inherits BasePage

<PageTitle>@languageContainer.Keys[(Id == 0 ? "Add" : "Edit") + " Category"]</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>

@if (categoryForm is null)
{
    <FormLoadingSpinner IsBigForm="true" />
}
else
{
    <MudCard Elevation="25">
        <EditForm Model="@categoryForm" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudCardHeader Style="padding:20px">
                <CardHeaderAvatar>
                    <MudAvatar Rounded="true" Color="Color.Info">
                        <MudIcon Icon="@Icons.Material.Filled.Person3" />
                    </MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Style="display: flex;align-items: center;" Typo="Typo.h5">
                        @(Id == 0 ? "Add Category" : $"Edit {categoryForm.Name}")
                    </MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudButton DisableElevation="true" Href="/Categories" Style="margin:10px" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Info">
                        Back to Managers
                    </MudButton>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent Class="px-5 py-3">
                <div class="d-flex flex-wrap flex-md-nowrap">
                    <div class="p-3  w-100 w-md-50">
                        <MudTextField HelperText="Required" Variant="Variant.Outlined" @bind-Value="categoryForm.Name" For="@(() => categoryForm.Name)" HelperTextOnFocus="true"
                                  AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccountBox" Placeholder="@Placeholders.Name" />
                    </div>
                    <div class="p-3  w-100 w-md-25">
                        <MudNumericField HideSpinButtons="true" @bind-Value="categoryForm.OrderIndex" For="@(() => categoryForm.OrderIndex)" HelperTextOnFocus="true"
                                     Variant="Variant.Outlined" AdornmentColor="Color.Info" Adornment="Adornment.End" AdornmentText="#" Placeholder="@Placeholders.OrderIndex" />
                    </div>
                    <div class="p-3  w-100 w-md-25">
                        <MudColorPicker @bind-Text="categoryForm.Color" Placeholder="Select Color" Clearable ColorPickerMode="ColorPickerMode.HEX" Variant="Variant.Outlined"
                                    DisableAlpha=true DisableToolbar=true DisableColorField=true DisableModeSwitch=true AnchorOrigin="Origin.BottomCenter" />
                    </div>
                </div>
                <div class="flex-wrap gap-5 gap-md-0 d-flex flex-md-nowrap align-items-end p-3">
                    <ImageUpload ImageSelected="CaptureUploadedImage" UploadedImageCleared="ClearUploadedImage" CurrentImage="@(Id == 0 ? null :imageUrl + categoryForm.Image)" />
                    <MudSpacer />
                    <FormButtons IsLoading="@isLoading" />
                </div>
            </MudCardContent>
            <MudCardActions>
            </MudCardActions>
        </EditForm>
    </MudCard>
}


