@page "/Categories/Details/{Id:int}"
@attribute [Authorize(Roles = Roles.AdminRole)]
@inherits BasePage

<PageTitle>
    @($"{languageContainer.Keys["Category"]} {languageContainer.Keys["Details"]}")
</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>

@if (category is null)
{
    <FormLoadingSpinner IsBigForm="true" />
}
else
{
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="fw-bold card-title">
                @($"{category.NameEn} - {category.NameAr} {languageContainer.Keys["Details"]}")
            </div>
            <div class="card-toolbar">
                <a href="/Categories" class="btn btn-sm btn-primary me-3">
                    <MudIcon Icon="@Icons.Material.Filled.ArrowBack" />
                    @languageContainer.Keys["Back To"] @languageContainer.Keys["Category"]
                </a>
                <a @onclick="() => OpenForm(formUri,category.Id)" class="btn btn-sm  btn-success">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    @languageContainer.Keys["Edit"]
                </a>
            </div>
        </div>
        <div class="card-body">
            <!--begin::Details content-->
            <div class="py-3 fs-6">
                <div class="row">
                    <div class="col-8 align-self-start">
                        <!--begin::Details item-->
                        <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Name English"]:</div>
                        <div class="text-gray-600">@category.NameEn</div>

                        <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Name Arabic"]:</div>
                        <div class="text-gray-600">@category.NameAr</div>

                        <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Color"]:</div>
                        <div class="text-gray-600">
                            <MudAvatar Square="true" Style=@($"background-color: {category.Color}")></MudAvatar>
                        </div>
                        <!--begin::Details item-->
                        <!--begin::Details item-->
                        <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Order Index"]:</div>
                        <div class="text-gray-600">@(category.OrderIndex is null ? "-" : category.OrderIndex)</div>
                        <!--begin::Details item-->
                    </div>
                    <div @onclick="@(() => ShowImagePreview(imageUrl + category.Image))" class="col-4 text-center">
                        <MudImage Class="rounded-lg border border-gray-300 mt-5" Width="300" Src=@(imageUrl + category.Image) />
                    </div>
                </div>
            </div>
            <!--end::Details content-->
        </div>
    </div>
    <div class="card shadow-sm mt-10">
        <div class="card-body">
            <Services CategoryId="category.Id" />
        </div>
    </div>
}
