@page "/Coupons/Details/{Id:int}"
@attribute [Authorize(Roles = $"{Roles.AdminRole},{Roles.ManagerRole}")]
@inherits BasePage

<PageTitle>
    @($"{languageContainer.Keys["Coupon"]} {languageContainer.Keys["Details"]}")
</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems" />

@if (coupon is null)
{
    <FormLoadingSpinner IsBigForm="true" />
}
else
{
    <div class="card shadow-sm">
        <div class="card-header">
            <div class="fw-bold card-title">
                @($"{languageContainer.Keys["Coupon"]} {languageContainer.Keys["Details"]}")
            </div>
            <div class="card-toolbar">
                <a href="/Coupons" class="btn btn-sm btn-primary me-3">
                    <MudIcon Icon="@Icons.Material.Filled.ArrowBack" />
                    @languageContainer.Keys["Back To"] @languageContainer.Keys["Coupons"]
                </a>
                <a @onclick="() => OpenForm(formUri,coupon.Id)" class="btn btn-sm  btn-success">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    @languageContainer.Keys["Edit"]
                </a>
            </div>
        </div>
        <div class="card-body">
            <!--begin::Details content-->
            <div class="py-3 fs-6">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-6">
                                <!--begin::Details item-->
                                <div class="fw-bold mb-1">@languageContainer.Keys["Coupon Code"]:</div>
                                <div class="text-gray-600 d-flex align-items-center">
                                    @coupon.CouponCode
                                    <MudIcon Class="ms-2" Icon="@Icons.Material.Filled.RemoveRedEye" Color="Color.Success" />
                                </div>
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Coupon Status"]:</div>
                                <div>
                                    <MudChip Variant="Variant.Text" Size="Size.Small"
                                             Color="@(coupon.IsActive ? Color.Success : Color.Warning)">

                                        @(coupon.IsActive ? languageContainer.Keys["Active"] : languageContainer.Keys["Not Active"])
                                    </MudChip>
                                </div>
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Start & End Date"]:</div>
                                <div class="text-gray-600">@($"{coupon.StartDate} to {coupon.EndDate}")</div>
                            </div>
                            <div class="col-6 ps-5">
                                <!--begin::Details item-->
                                <div class="fw-bold mb-1">@languageContainer.Keys["Number Of Uses"]: @coupon.NumberOfUses</div>
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Discount Amount"]: @coupon.DiscountAmount @languageContainer.Keys[coupon.Currency?.Symbol]</div>
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5 mb-1">@languageContainer.Keys["Max Uses"]: @coupon.MaxUses</div>
                                <!--begin::Details item-->
                            </div>
                        </div>
                    </div>
                    <div @onclick="@(() => ShowImagePreview(imageUrl + coupon.Image))" class="col-4 text-center">
                        <MudImage Class="rounded-lg border border-gray-300" Width="300" Src=@(imageUrl + coupon.Image) />
                    </div>
                </div>
            </div>
            <!--end::Details content-->
        </div>
    </div>
}
