@page "/Providers/Form/{Id:int}"
@page "/Providers/Form"
@attribute [Authorize(Roles = $"{Roles.AdminRole},{Roles.ManagerRole},{Roles.SupervisorRole}")]
@inherits BasePage

<PageTitle>@languageContainer.Keys[(Id == 0 ? "Add" : "Edit") + " Provider"]</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>

@if (providerForm is null)
{
    <FormLoadingSpinner IsBigForm="true" />
}
else
{
    <MudCard Elevation="25">
        <EditForm Model="@providerForm" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudCardHeader Style="padding:20px">
                <CardHeaderAvatar>
                    <MudAvatar Rounded="true" Color="Color.Info">
                        <MudIcon Icon="@Icons.Material.Filled.Engineering" />
                    </MudAvatar>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText Style="display: flex;align-items: center;" Typo="Typo.h5">
                        @(Id == 0 ? "Add Provider" : $"Edit {providerForm.FirstName} {providerForm.LastName}")
                    </MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudButton DisableElevation="true" Href="/Providers" Style="margin:10px" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBack" Color="Color.Info">
                        Back to Providers
                    </MudButton>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent Class="px-5 py-3">
                <div class="d-flex flex-wrap flex-md-nowrap">
                    <div class="p-3 w-100">
                        <MudTextField HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" @bind-Value="providerForm.FirstName" For="@(() => providerForm.FirstName)" HelperTextOnFocus="true"
                                      AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccountBox" Placeholder="@Placeholders.Name" />
                    </div>
                    <div class="p-3 w-100">
                        <MudTextField HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" @bind-Value="providerForm.LastName" For="@(() => providerForm.LastName)" HelperTextOnFocus="true"
                                      AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccountBox" Placeholder="@Placeholders.Name" />
                    </div>
                    <div class="p-3 w-100">
                        <MudTextField HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" @bind-Value="providerForm.NationalId" For="@(() => providerForm.NationalId)" HelperTextOnFocus="true"
                                      AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccountBox" Placeholder="@Placeholders.Name" />

                    </div>
                </div>
                <div class="d-flex flex-wrap flex-md-nowrap">
                    <div class="p-3 w-100">
                        <MudSelect HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" @bind-Value="providerForm.Gender" For="@(() => providerForm.Gender)" Adornment="Adornment.Start" Clearable
                                    Placeholder="@Placeholders.GenderDropDown" AdornmentIcon="@Icons.Material.Filled.Group" AdornmentColor="Color.Info" AnchorOrigin="Origin.BottomCenter" T="string" HelperTextOnFocus="true">
                             <MudSelectItem Value="@("Male")">Male</MudSelectItem>
                             <MudSelectItem Value="@("Female")">Female</MudSelectItem>
                         </MudSelect>
                     </div>
                     <div class="p-3 w-100">
                         <MudAutocomplete T="LookupDto" SearchFunc="@GetNationalities" Adornment="Adornment.Start" AnchorOrigin="Origin.BottomCenter"
                                          Variant="Variant.Outlined" ShowProgressIndicator="true" ResetValueOnEmptyText="true" CoerceText="true" AdornmentIcon="@Icons.Material.Filled.Flag"
                                          ProgressIndicatorColor="Color.Info" Clearable @bind-Value="providerForm.Nationality" For="@(() => providerForm.Nationality)" AdornmentColor="Color.Info"
                                          ToStringFunc="@(e=> e == null ? null : $"{e.Name}")" HelperText="@languageContainer.Keys[("Required")]" Placeholder="@Placeholders.NationalityDropDown" MaxItems="null" HelperTextOnFocus="true">
                             <NoItemsTemplate>
                                 <MudText Align="Align.Center" Class="px-4 py-4">
                                     No items found
                                 </MudText>
                             </NoItemsTemplate>
                         </MudAutocomplete>
                     </div>
                     <div class="p-3 w-100">
                         <MudAutocomplete T="LookupDto" SearchFunc="@GetSupervisors" Adornment="Adornment.Start" AnchorOrigin="Origin.BottomCenter"
                                          Variant="Variant.Outlined" ShowProgressIndicator="true" ResetValueOnEmptyText="true" CoerceText="true" AdornmentIcon="@Icons.Material.Filled.Diversity3"
                                          ProgressIndicatorColor="Color.Info" Clearable @bind-Value="providerForm.Supervisor" For="@(() => providerForm.Supervisor)" AdornmentColor="Color.Info"
                                          ToStringFunc="@(e=> e == null ? null : $"{e.FirstName} {e.LastName}")" HelperText="@languageContainer.Keys[("Required")]" Placeholder="@Placeholders.ManagerDropDown" MaxItems="null" HelperTextOnFocus="true">
                             <NoItemsTemplate>
                                 <MudText Align="Align.Center" Class="px-4 py-4">
                                     No items found
                                 </MudText>
                             </NoItemsTemplate>
                         </MudAutocomplete>
                     </div>
                 </div>
                @if (Id == 0)
                {
                    <div class="flex-wrap d-flex flex-md-nowrap">
                        <div class="p-3 w-100">
                            <MudNumericField HideSpinButtons="true" HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" AdornmentColor="Color.Info" Adornment="Adornment.Start" HelperTextOnFocus="true" Required="true"
                                     @bind-Value="providerForm.PhoneNumber" For="@(() => providerForm.PhoneNumber)" AdornmentIcon="@Icons.Material.Filled.Phone" Placeholder="@Placeholders.PhoneNumber" RequiredError="Phone Number is Required" />
                        </div>
                        <div class="p-3 w-100">
                            <MudTextField HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" InputType="InputType.Email" AdornmentColor="Color.Info" Adornment="Adornment.Start" HelperTextOnFocus="true"
                                  @bind-Value="providerForm.Email" For="@(() => providerForm.Email)" AdornmentIcon="@Icons.Material.Filled.Email" Placeholder="@Placeholders.Email" Required="true" RequiredError="Email is Required" />
                        </div>
                        <div class="p-3 w-100">
                            <MudTextField HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" InputType="PasswordInput" AdornmentColor="Color.Info"
                                  @bind-Value="providerForm.Password" For="@(() => providerForm.Password)" Placeholder="**************" HelperTextOnFocus="true" RequiredError="Password is Required"
                                  Adornment="Adornment.Start" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ChangePasswordStatus" AdornmentAriaLabel="@Placeholders.Password" Required="true" />
                        </div>
                    </div>
                }
                <div class="flex-wrap d-flex flex-md-nowrap">
                    <div class="p-3 w-100">
                        <MudTextField HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" AdornmentColor="Color.Info" Adornment="Adornment.Start" HelperTextOnFocus="true" Required="true"
                                         @bind-Value="providerForm.ContactPhone" For="@(() => providerForm.ContactPhone)" AdornmentIcon="@Icons.Material.Filled.Phone" Placeholder="@Placeholders.PhoneNumber" RequiredError="Phone Number is Required" />
                    </div>
                    <div class="p-3 w-100">
                        <MudTextField HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" InputType="InputType.Email" AdornmentColor="Color.Info" Adornment="Adornment.Start" HelperTextOnFocus="true"
                                      @bind-Value="providerForm.ContactEmail" For="@(() => providerForm.ContactEmail)" AdornmentIcon="@Icons.Material.Filled.Email" Placeholder="@Placeholders.Email" Required="true" RequiredError="Email is Required" />
                    </div>
                </div>
                <div class="flex-wrap gap-5 gap-md-0 d-flex flex-md-nowrap align-items-end p-3">
                    <ImageUpload ImageSelected="CaptureUploadedImage" UploadedImageCleared="ClearUploadedImage" CurrentImage="@(Id == 0 ? null :imageUrl + providerForm.Image)" />
                    <MudSpacer />
                    <FormButtons IsLoading="@isLoading" />
                </div>
            </MudCardContent>
            <MudCardActions>
            </MudCardActions>
        </EditForm>
    </MudCard>
}