@page "/IndividualClients/Details/{Id:int}"
@attribute [Authorize(Roles = $"{Roles.AdminRole},{Roles.ManagerRole}")]
@inherits BasePage

<PageTitle>
    @($"{languageContainer.Keys["Individual Clients"]} {languageContainer.Keys["Details"]}")
</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>

@if (client is null)
{
    <FormLoadingSpinner IsBigForm="true" />
}
else
{
    <div class="d-flex flex-column flex-md-row">
        <!--begin::Sidebar-->
        <div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">
            <!--begin::Card-->
            <div class="card mb-5 mb-xl-8 shadow-sm">
                <!--begin::Card body-->
                <div class="card-body pt-15">
                    <!--begin::Summary-->
                    <div class="d-flex flex-center flex-column">
                        <!--begin::Avatar-->
                        <MudAvatar Class="border border-gray-300" Style="height:200px; width:200px;" Rounded="true" @onclick="() => ShowImagePreview(imageUrl + client.Image)" Color="Color.Primary">
                            <MudImage Src="@(imageUrl + client.Image)"></MudImage>
                        </MudAvatar>
                        <!--end::Avatar-->
                        <!--begin::Name-->
                        <a class="fs-3 text-gray-800 text-hover-primary fw-bold my-2">
                            @client.FirstName @client.LastName
                        </a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="fs-5 fw-semibold text-muted">
                            @client.Email
                        </div>
                        <!--end::Position-->
                        <!--begin::Position-->
                        <div class="fs-5 fw-semibold text-muted mb-6">
                            @client.PhoneNumber
                        </div>
                        <!--end::Position-->
                    </div>
                    <!--end::Summary-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Card-->
            <div class="card shadow-sm">
                <div class="card-header border-0 cursor-pointer">
                    <div class="card-title m-0">
                        <h3 class="fw-bold m-0">@languageContainer.Keys["Account Settings"]</h3>
                    </div>
                </div>
                <!--begin::Card body-->
                <div class="card-body">
                    <!--begin::Email Address-->
                    <div class="d-flex d-md-inline flex-wrap align-items-center">
                        <!--begin::Label-->
                        <div>
                            <div class="fs-6 fw-bold mb-1">@languageContainer.Keys["Email Address"]</div>
                            <div class="fw-semibold text-gray-600">@client.Email</div>
                        </div>
                        <!--end::Label-->
                        <!--begin::Action-->
                        <div class="ms-auto mt-md-3">
                            <button @onclick="() => ShowChangeEmailAsync()" class="btn btn-light-primary">@languageContainer.Keys["Change Email"]</button>
                        </div>
                        <!--end::Action-->
                    </div>
                    <!--end::Email Address-->
                    <!--begin::Separator-->
                    <div class="separator separator-dashed my-6"></div>
                    <!--end::Separator-->
                    <!--begin::Password-->
                    <div class="d-flex d-md-inline flex-wrap align-items-center mb-10">
                        <!--begin::Label-->
                        <div>
                            <div class="fs-6 fw-bold mb-1">@languageContainer.Keys["Password"]</div>
                            <div class="fw-semibold text-gray-600">************</div>
                        </div>
                        <!--end::Label-->
                        <!--begin::Action-->
                        <div class="ms-auto mt-md-3">
                            <button @onclick="() => ShowChangePasswordAsync(client.UserId)" class="btn btn-light-primary">@languageContainer.Keys["Reset Password"]</button>
                        </div>
                        <!--end::Action-->
                    </div>
                    <!--end::Password-->
                </div>
                <!--end::Card body-->
            </div>
        </div>
        <!--end::Sidebar-->
        <!--begin::Content-->
        <div class="flex-lg-row-fluid ms-lg-15">
            <!--begin:::Tabs-->
            <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8" role="tablist">
                <!--begin:::Tab item-->
                <li class="nav-item" role="presentation">
                    <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_customer_view_overview_tab" aria-selected="true" role="tab">@languageContainer.Keys["Overview"]</a>
                </li>
                <!--end:::Tab item-->
            </ul>
            <!--end:::Tabs-->
            <!--begin:::Tab content-->
            <div class="tab-content" id="myTabContent">
                <!--begin:::Tab pane-->
                <div class="tab-pane fade active show" id="kt_customer_view_overview_tab" role="tabpanel">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="d-flex flex-stack fs-4 py-3">
                                <div class="fw-bold">
                                    @languageContainer.Keys["Details"]
                                </div>
                                <span>
                                    <a @onclick="() => OpenForm(formUri,client.Id)" class="btn btn-sm btn-light-primary">
                                        @languageContainer.Keys["Edit"]
                                    </a>
                                </span>
                            </div>
                            <!--end::Details toggle-->
                            <div class="separator separator-dashed"></div>
                            <!--begin::Details content-->
                            <div class="py-3 fs-6">
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5">@languageContainer.Keys["Nationality"]</div>
                                <div class="text-gray-600">@client.Nationality?.Name</div>
                                <!--begin::Details item-->
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5">@languageContainer.Keys["Gender"]</div>
                                <div class="text-gray-600">@client.Gender</div>
                                <!--begin::Details item-->
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5">@languageContainer.Keys["Email"]</div>
                                <div class="text-gray-600">@client.Email</div>
                                <!--begin::Details item-->
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5">@languageContainer.Keys["Phone"]</div>
                                <div class="text-gray-600">@client.PhoneNumber</div>
                                <!--begin::Details item-->
                            </div>
                            <!--end::Details content-->
                        </div>
                    </div>
                </div>
                <!--end:::Tab pane-->
            </div>
            <!--end:::Tab content-->
        </div>
        <!--end::Content-->
    </div>
}
