@page "/CompanyInfo/Form"
@attribute [Authorize(Roles = Roles.AdminRole)]
@inherits BasePage

<PageTitle>
    @languageContainer.Keys["Edit Company Info"]
</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>

@if (companyInfoForm is null)
{
    <FormLoadingSpinner IsBigForm="true" />
}
else
{
    <BaseFrom EntityBackUrl="/CompanyInfo" EditTitle="Company Info" EntityName="Company Info"
              IsAddFrom="false" OnValidSubmit="OnValidSubmit" Model="companyInfoForm" Icon="@EntityIcons.CompanyInfoIcon">
        <FormContent>
            <div class="d-flex flex-wrap flex-md-nowrap">
                <div class="p-3 w-100 w-md-50">
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyInfoForm.FacebookUrl" For="@(() => companyInfoForm.FacebookUrl)" HelperTextOnFocus="true"
                                  AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Custom.Brands.Facebook" Label="@languageContainer.Keys["Facebook Url"]" />
                </div>
                <div class="p-3 w-100 w-md-50">
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyInfoForm.TwitterUrl" For="@(() => companyInfoForm.TwitterUrl)" HelperTextOnFocus="true"
                                  AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Custom.Brands.Twitter" Label="@languageContainer.Keys["Twitter Url"]" />
                </div>
            </div>
            <div class="d-flex flex-wrap flex-md-nowrap">
                <div class="p-3 w-100 w-md-50">
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyInfoForm.LinkedInUrl" For="@(() => companyInfoForm.LinkedInUrl)" HelperTextOnFocus="true"
                                  AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Custom.Brands.LinkedIn" Label="@languageContainer.Keys["LinkedIn Url"]" />
                </div>
                <div class="p-3 w-100 w-md-50">
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyInfoForm.InstagramUrl" For="@(() => companyInfoForm.InstagramUrl)" HelperTextOnFocus="true"
                                  AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Custom.Brands.Instagram" Label="@languageContainer.Keys["Instagram Url"]" />
                </div>
            </div>
            <div class="d-flex flex-wrap flex-md-nowrap">
                <div class="p-3 w-100 w-md-50">
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyInfoForm.TelegramUrl" For="@(() => companyInfoForm.TelegramUrl)" HelperTextOnFocus="true"
                                  AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Custom.Brands.Telegram" Label="@languageContainer.Keys["Telegram Url"]" />
                </div>
                <div class="p-3 w-100 w-md-50">
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyInfoForm.YoutubeUrl" For="@(() => companyInfoForm.YoutubeUrl)" HelperTextOnFocus="true"
                                  AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Custom.Brands.YouTube" Label="@languageContainer.Keys["Youtube Url"]" />
                </div>
            </div>
            <div class="d-flex flex-wrap flex-md-nowrap">
                <div class="p-3 w-100 w-md-50">
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyInfoForm.Address" For="@(() => companyInfoForm.Address)" HelperTextOnFocus="true"
                                  AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccountBox" Label="@languageContainer.Keys["Address"]" />
                </div>
                <div class="p-3 w-100 w-md-50">
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyInfoForm.ContactEmail" For="@(() => companyInfoForm.ContactEmail)" HelperTextOnFocus="true"
                                  AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccountBox" Label="@languageContainer.Keys["Contact Email"]" />
                </div>
                <div class="p-3 w-100 w-md-50">
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyInfoForm.VatRegistrationNumber" For="@(() => companyInfoForm.VatRegistrationNumber)" HelperTextOnFocus="true"
                                  AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccountBox" Label="@languageContainer.Keys["VAT Registration Number"]" />
                </div>
            </div>
            <div class="d-flex flex-wrap flex-md-nowrap">
                <div class="p-3 w-100 w-md-50">
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyInfoForm.ContactMobile" For="@(() => companyInfoForm.ContactMobile)" HelperTextOnFocus="true"
                                  AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccountBox" Label="@languageContainer.Keys["Contact Mobile"]" />
                </div>
                <div class="p-3 w-100 w-md-50">
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyInfoForm.Hotline" For="@(() => companyInfoForm.Hotline)" HelperTextOnFocus="true"
                                  AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccountBox" Label="@languageContainer.Keys["Hotline"]" />
                </div>
                <div class="p-3 w-100 w-md-50">
                    <MudTextField Variant="Variant.Outlined" @bind-Value="companyInfoForm.ContactPhone" For="@(() => companyInfoForm.ContactPhone)" HelperTextOnFocus="true"
                                  AdornmentColor="Color.Info" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AccountBox" Label="@languageContainer.Keys["Contact Phone"]" />
                </div>
            </div>
            <div class="p-3 w-100">
                <MudTextField HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" @bind-Value="companyInfoForm.WhoWeAre" For="@(() => companyInfoForm.WhoWeAre)"
                              HelperTextOnFocus="true" Placeholder="@Placeholders.Description" Lines="10" Label="@languageContainer.Keys["Who We Are"]" />
            </div>
            <div class="p-3 w-100">
                <MudTextField HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" @bind-Value="companyInfoForm.Mission" For="@(() => companyInfoForm.Mission)"
                              HelperTextOnFocus="true" Placeholder="@Placeholders.Description" Lines="10" Label="@languageContainer.Keys["Mission"]" />
            </div>
            <div class="p-3 w-100">
                <MudTextField HelperText="@languageContainer.Keys[("Required")]" Variant="Variant.Outlined" @bind-Value="companyInfoForm.Vision" For="@(() => companyInfoForm.Vision)"
                              HelperTextOnFocus="true" Placeholder="@Placeholders.Description" Lines="10" Label="@languageContainer.Keys["Vision"]" />
            </div>

            @* ========= HERO SECTION ========= *@
            <MudCard Class="p-3 mb-3 border" Elevation="0">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">@languageContainer.Keys["Hero Section"]</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>

                    @* Title and Subtitle *@
                    <div class="d-flex flex-wrap flex-md-nowrap">

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.HeroSectionTitle"
                                          For="@(() => companyInfoForm.HeroSectionTitle)"
                                          Label="@languageContainer.Keys["Hero Section Title"]" />
                        </div>

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.HeroSectionSubtitle"
                                          For="@(() => companyInfoForm.HeroSectionSubtitle)"
                                          Label="@languageContainer.Keys["Hero Section Subtitle"]" />
                        </div>

                    </div>

                    @* Description *@
                    <div class="p-3 w-100">
                        <MudTextField Variant="Variant.Outlined" Lines="6"
                                      @bind-Value="companyInfoForm.HeroSectionDescription"
                                      For="@(() => companyInfoForm.HeroSectionDescription)"
                                      Label="@languageContainer.Keys["Hero Section Description"]" />
                    </div>

                    @* Features *@
                    <div class="d-flex flex-wrap flex-md-nowrap">
                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.HeroSectionFeature1"
                                          For="@(() => companyInfoForm.HeroSectionFeature1)"
                                          Label="@languageContainer.Keys["Hero Section Feature 1"]" />
                        </div>

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.HeroSectionFeature2"
                                          For="@(() => companyInfoForm.HeroSectionFeature2)"
                                          Label="@languageContainer.Keys["Hero Section Feature 2"]" />
                        </div>
                    </div>

                    @* Services *@
                    <div class="d-flex flex-wrap flex-md-nowrap">

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.HeroSectionService1Title"
                                          For="@(() => companyInfoForm.HeroSectionService1Title)"
                                          Label="@languageContainer.Keys["Hero Section Service 1 Title"]" />
                        </div>

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.HeroSectionService2Title"
                                          For="@(() => companyInfoForm.HeroSectionService2Title)"
                                          Label="@languageContainer.Keys["Hero Section Service 2 Title"]" />
                        </div>

                    </div>

                    <div class="d-flex flex-wrap flex-md-nowrap">
                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.HeroSectionService3Title"
                                          For="@(() => companyInfoForm.HeroSectionService3Title)"
                                          Label="@languageContainer.Keys["Hero Section Service 3 Title"]" />
                        </div>

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.HeroSectionService4Title"
                                          For="@(() => companyInfoForm.HeroSectionService4Title)"
                                          Label="@languageContainer.Keys["Hero Section Service 4 Title"]" />
                        </div>
                    </div>
                    <div class="flex-wrap gap-5 gap-md-0 d-flex flex-md-nowrap align-items-end p-3">
                        <ImageUpload ImageSelected="CaptureHeroImage" UploadedImageCleared="ClearHeroImage" CurrentImage="@(imageUrl + companyInfoForm.HeroSectionImage)" />
                    </div>
                </MudCardContent>
            </MudCard>

            @* ========= ABOUT US ========= *@
            <MudCard Class="p-3 mb-3 border" Elevation="0">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">@languageContainer.Keys["About Us Section"]</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>
                    <div class="d-flex flex-wrap flex-md-nowrap">

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.AboutUsTitle"
                                          For="@(() => companyInfoForm.AboutUsTitle)"
                                          Label="@languageContainer.Keys["About Us Title"]" />
                        </div>

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.AboutUsSubtitle"
                                          For="@(() => companyInfoForm.AboutUsSubtitle)"
                                          Label="@languageContainer.Keys["About Us Subtitle"]" />
                        </div>

                    </div>

                    <div class="p-3 w-100">
                        <MudTextField Variant="Variant.Outlined" Lines="8"
                                      @bind-Value="companyInfoForm.AboutUsDescription"
                                      For="@(() => companyInfoForm.AboutUsDescription)"
                                      Label="@languageContainer.Keys["About Us Description"]" />
                    </div>

                    @* Years Of Experience *@
                    <div class="p-3 w-100">
                        <MudNumericField T="int"
                                         Variant="Variant.Outlined"
                                         @bind-Value="companyInfoForm.YearsOfExp"
                                         For="@(() => companyInfoForm.YearsOfExp)"
                                         Label="@languageContainer.Keys["Years Of Experience"]" />
                    </div>

                    @* Progress Bars 1 & 2 *@
                    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">

                        <div class="p-3 w-100 w-md-25 border-1">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.ProgressBarTitle1"
                                          For="@(() => companyInfoForm.ProgressBarTitle1)"
                                          Label="@languageContainer.Keys["Progress Bar Title 1"]" />

                            <MudNumericField T="int"
                                             Variant="Variant.Outlined"
                                             @bind-Value="companyInfoForm.ProgressBarValue1"
                                             For="@(() => companyInfoForm.ProgressBarValue1)"
                                             Label="@languageContainer.Keys["Progress Bar Value 1"]" />
                        </div>

                        <div class="p-3 w-100 w-md-25 border-1">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.ProgressBarTitle2"
                                          For="@(() => companyInfoForm.ProgressBarTitle2)"
                                          Label="@languageContainer.Keys["Progress Bar Title 2"]" />

                            <MudNumericField T="int"
                                             Variant="Variant.Outlined"
                                             @bind-Value="companyInfoForm.ProgressBarValue2"
                                             For="@(() => companyInfoForm.ProgressBarValue2)"
                                             Label="@languageContainer.Keys["Progress Bar Value 2"]" />
                        </div>
                        <div class="p-3 w-100 w-md-25 border-1">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.ProgressBarTitle3"
                                          For="@(() => companyInfoForm.ProgressBarTitle3)"
                                          Label="@languageContainer.Keys["Progress Bar Title 3"]" />

                            <MudNumericField T="int"
                                             Variant="Variant.Outlined"
                                             @bind-Value="companyInfoForm.ProgressBarValue3"
                                             For="@(() => companyInfoForm.ProgressBarValue3)"
                                             Label="@languageContainer.Keys["Progress Bar Value 3"]" />
                        </div>
                    </div>


                    <div class="flex-wrap gap-5 gap-md-0 d-flex flex-md-nowrap align-items-end p-3">
                        <ImageUpload ImageSelected="CaptureAboutUsImage"
                                     UploadedImageCleared="ClearAboutUsImage"
                                     CurrentImage="@(imageUrl + companyInfoForm.AboutUsImage)" />
                    </div>

                </MudCardContent>
            </MudCard>

            @* ========= CATEGORIES ========= *@
            <MudCard Class="p-3 mb-3 border" Elevation="0">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">@languageContainer.Keys["Categories Section"]</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>

                    <div class="d-flex flex-wrap flex-md-nowrap">

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.CategoriesTitle"
                                          For="@(() => companyInfoForm.CategoriesTitle)"
                                          Label="@languageContainer.Keys["Categories Title"]" />
                        </div>

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.CategoriesSubtitle"
                                          For="@(() => companyInfoForm.CategoriesSubtitle)"
                                          Label="@languageContainer.Keys["Categories Subtitle"]" />
                        </div>

                    </div>

                    <div class="p-3 w-100">
                        <MudTextField Variant="Variant.Outlined" Lines="8"
                                      @bind-Value="companyInfoForm.CategoriesDescription"
                                      For="@(() => companyInfoForm.CategoriesDescription)"
                                      Label="@languageContainer.Keys["Categories Description"]" />
                    </div>

                </MudCardContent>
            </MudCard>

            @* ========= PROJECTS ========= *@
            <MudCard Class="p-3 mb-3 border" Elevation="0">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">@languageContainer.Keys["Projects Section"]</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>

                    <div class="d-flex flex-wrap flex-md-nowrap">

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.ProjectsTitle"
                                          For="@(() => companyInfoForm.ProjectsTitle)"
                                          Label="@languageContainer.Keys["Projects Title"]" />
                        </div>

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.ProjectsSubtitle"
                                          For="@(() => companyInfoForm.ProjectsSubtitle)"
                                          Label="@languageContainer.Keys["Projects Subtitle"]" />
                        </div>

                    </div>

                    <div class="p-3 w-100">
                        <MudTextField Variant="Variant.Outlined" Lines="8"
                                      @bind-Value="companyInfoForm.ProjectsDescription"
                                      For="@(() => companyInfoForm.ProjectsDescription)"
                                      Label="@languageContainer.Keys["Projects Description"]" />
                    </div>

                </MudCardContent>
            </MudCard>

            @* ========= FAQ ========= *@
            <MudCard Class="p-3 mb-3 border" Elevation="0">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">@languageContainer.Keys["FAQ Section"]</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>

                    <div class="d-flex flex-wrap flex-md-nowrap">

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.FAQTitle"
                                          For="@(() => companyInfoForm.FAQTitle)"
                                          Label="@languageContainer.Keys["FAQ Title"]" />
                        </div>

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.FAQSubtitle"
                                          For="@(() => companyInfoForm.FAQSubtitle)"
                                          Label="@languageContainer.Keys["FAQ Subtitle"]" />
                        </div>

                    </div>

                    <div class="p-3 w-100">
                        <MudTextField Variant="Variant.Outlined" Lines="8"
                                      @bind-Value="companyInfoForm.FAQDescription"
                                      For="@(() => companyInfoForm.FAQDescription)"
                                      Label="@languageContainer.Keys["FAQ Description"]" />
                    </div>

                    <div class="flex-wrap gap-5 gap-md-0 d-flex flex-md-nowrap align-items-end p-3">
                        <ImageUpload ImageSelected="CaptureFAQImage"
                                     UploadedImageCleared="ClearFAQImage"
                                     CurrentImage="@(imageUrl + companyInfoForm.FAQSectionImage)" />
                    </div>
                </MudCardContent>
            </MudCard>

            @* ========= COUNTERS ========= *@
            <MudCard Class="p-3 mb-3 border" Elevation="0">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">@languageContainer.Keys["Counters Section"]</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>

                    @* Counter 1 & 2 *@
                    <div class="d-flex flex-wrap flex-md-nowrap">

                        <div class="p-3 w-100 w-md-50 border-1">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.CounterTitle1"
                                          For="@(() => companyInfoForm.CounterTitle1)"
                                          Label="@languageContainer.Keys["Counter Title 1"]" />

                            <MudNumericField T="int"
                                             @bind-Value="companyInfoForm.CounterValue1"
                                             For="@(() => companyInfoForm.CounterValue1)"
                                             Variant="Variant.Outlined"
                                             Label="@languageContainer.Keys["Counter Value 1"]" />
                        </div>

                        <div class="p-3 w-100 w-md-50 border-1">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.CounterTitle2"
                                          For="@(() => companyInfoForm.CounterTitle2)"
                                          Label="@languageContainer.Keys["Counter Title 2"]" />

                            <MudNumericField T="int"
                                             @bind-Value="companyInfoForm.CounterValue2"
                                             For="@(() => companyInfoForm.CounterValue2)"
                                             Variant="Variant.Outlined"
                                             Label="@languageContainer.Keys["Counter Value 2"]" />
                        </div>

                    </div>

                    @* Counter 3 & 4 *@
                    <div class="d-flex flex-wrap flex-md-nowrap">

                        <div class="p-3 w-100 w-md-50 border-1">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.CounterTitle3"
                                          For="@(() => companyInfoForm.CounterTitle3)"
                                          Label="@languageContainer.Keys["Counter Title 3"]" />

                            <MudNumericField T="int"
                                             @bind-Value="companyInfoForm.CounterValue3"
                                             For="@(() => companyInfoForm.CounterValue3)"
                                             Variant="Variant.Outlined"
                                             Label="@languageContainer.Keys["Counter Value 3"]" />
                        </div>

                        <div class="p-3 w-100 w-md-50 border-1">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.CounterTitle4"
                                          For="@(() => companyInfoForm.CounterTitle4)"
                                          Label="@languageContainer.Keys["Counter Title 4"]" />

                            <MudNumericField T="int"
                                             @bind-Value="companyInfoForm.CounterValue4"
                                             For="@(() => companyInfoForm.CounterValue4)"
                                             Variant="Variant.Outlined"
                                             Label="@languageContainer.Keys["Counter Value 4"]" />
                        </div>

                    </div>

                </MudCardContent>
            </MudCard>

            @* ========= TEAM ========= *@
            <MudCard Class="p-3 mb-3 border" Elevation="0">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">@languageContainer.Keys["Team Section"]</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>

                    <div class="d-flex flex-wrap flex-md-nowrap">

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.TeamTitle"
                                          For="@(() => companyInfoForm.TeamTitle)"
                                          Label="@languageContainer.Keys["Team Title"]" />
                        </div>

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.TeamSubtitle"
                                          For="@(() => companyInfoForm.TeamSubtitle)"
                                          Label="@languageContainer.Keys["Team Subtitle"]" />
                        </div>

                    </div>

                    <div class="p-3 w-100">
                        <MudTextField Variant="Variant.Outlined" Lines="8"
                                      @bind-Value="companyInfoForm.TeamDescription"
                                      For="@(() => companyInfoForm.TeamDescription)"
                                      Label="@languageContainer.Keys["Team Description"]" />
                    </div>

                </MudCardContent>
            </MudCard>

            @* ========= CONTACT US ========= *@
            <MudCard Class="p-3 mb-3 border" Elevation="0">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">@languageContainer.Keys["Contact Us Section"]</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>

                    <div class="d-flex flex-wrap flex-md-nowrap">

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.ContactUsTitle"
                                          For="@(() => companyInfoForm.ContactUsTitle)"
                                          Label="@languageContainer.Keys["Contact Us Title"]" />
                        </div>

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.ContactUsSubtitle"
                                          For="@(() => companyInfoForm.ContactUsSubtitle)"
                                          Label="@languageContainer.Keys["Contact Us Subtitle"]" />
                        </div>

                    </div>

                    <div class="p-3 w-100">
                        <MudTextField Variant="Variant.Outlined" Lines="8"
                                      @bind-Value="companyInfoForm.ContactUsDescription"
                                      For="@(() => companyInfoForm.ContactUsDescription)"
                                      Label="@languageContainer.Keys["Contact Us Description"]" />
                    </div>

                    <div class="flex-wrap gap-5 gap-md-0 d-flex flex-md-nowrap align-items-end p-3">
                        <ImageUpload ImageSelected="CaptureContactUsImage"
                                     UploadedImageCleared="ClearContactUsImage"
                                     CurrentImage="@(imageUrl + companyInfoForm.ContactUsImage)" />
                    </div>
                </MudCardContent>
            </MudCard>

            @* ========= TESTIMONIAL ========= *@
            <MudCard Class="p-3 mb-3 border" Elevation="0">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">@languageContainer.Keys["Testimonial Section"]</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>

                    <div class="d-flex flex-wrap flex-md-nowrap">

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.TestimonialTitle"
                                          For="@(() => companyInfoForm.TestimonialTitle)"
                                          Label="@languageContainer.Keys["Testimonial Title"]" />
                        </div>

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.TestimonialSubtitle"
                                          For="@(() => companyInfoForm.TestimonialSubtitle)"
                                          Label="@languageContainer.Keys["Testimonial Subtitle"]" />
                        </div>

                    </div>

                    <div class="p-3 w-100">
                        <MudTextField Variant="Variant.Outlined" Lines="8"
                                      @bind-Value="companyInfoForm.TestimonialDescription"
                                      For="@(() => companyInfoForm.TestimonialDescription)"
                                      Label="@languageContainer.Keys["Testimonial Description"]" />
                    </div>

                </MudCardContent>
            </MudCard>

            @* ========= BLOG ========= *@
            <MudCard Class="p-3 mb-3 border" Elevation="0">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">@languageContainer.Keys["Blog Section"]</MudText>
                    </CardHeaderContent>
                </MudCardHeader>

                <MudCardContent>

                    <div class="d-flex flex-wrap flex-md-nowrap">

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.BlogTitle"
                                          For="@(() => companyInfoForm.BlogTitle)"
                                          Label="@languageContainer.Keys["Blog Title"]" />
                        </div>

                        <div class="p-3 w-100 w-md-50">
                            <MudTextField Variant="Variant.Outlined"
                                          @bind-Value="companyInfoForm.BlogSubtitle"
                                          For="@(() => companyInfoForm.BlogSubtitle)"
                                          Label="@languageContainer.Keys["Blog Subtitle"]" />
                        </div>

                    </div>

                    <div class="p-3 w-100">
                        <MudTextField Variant="Variant.Outlined" Lines="8"
                                      @bind-Value="companyInfoForm.BlogDescription"
                                      For="@(() => companyInfoForm.BlogDescription)"
                                      Label="@languageContainer.Keys["Blog Description"]" />
                    </div>

                </MudCardContent>
            </MudCard>        
     
            <div class="flex-wrap gap-5 gap-md-0 d-flex flex-md-nowrap align-items-end p-3">
                <ImageUpload ImageSelected="CaptureUploadedImage" UploadedImageCleared="ClearUploadedImage" CurrentImage="@(imageUrl + companyInfoForm.Image)" />
                <MudSpacer />
                <FormButtons IsLoading="@isLoading" />
            </div>
        </FormContent>
    </BaseFrom>
}