@page "/CompanyInfo"
@attribute [Authorize]
@inherits BasePage

<PageTitle>@languageContainer.Keys["Company Info"]</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>

<div class="card mb-5 border border-gray-300 shadow-sm">
    <!--begin::Card body-->
    <div class="card-body">
        <!--begin::Profile-->
        <div class="d-flex gap-7 align-items-start">
            <!--begin::Avatar-->
            @if (companyInfo is null)
            {
                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="180px" Width="180px" />
            }
            else
            {
                <MudAvatar Class="border border-gray-300" Style="height:200px; width:200px;" Rounded="true" Color="Color.Primary">
                    <MudImage Src=@(imageUrl + companyInfo.Image)></MudImage>
                </MudAvatar>
            }
            <!--end::Avatar-->
            <div class="flex-grow-1 py-3">
                <!--end::Name-->
                <!--begin::Email-->
                <div class="d-flex align-items-center gap-2 mb-3 text-hover-primary">
                    <i class="ki-duotone ki-sms fs-2"><span class="path1"></span><span class="path2"></span></i>
                    <a class="text-muted fs-5 text-hover-primary">
                        @if (companyInfo is null)
                        {
                            <MudSkeleton Width="150px" Height="20px;" />
                        }
                        else
                        {
                            <span class="fw-bold">
                                @languageContainer.Keys["Contact Email"]:
                            </span>
                            @companyInfo.ContactEmail
                        }
                    </a>
                </div>
                <!--end::Email-->
                <!--begin::Phone-->
                <div class="d-flex align-items-center gap-2 mb-3  text-hover-primary">
                    <i class="ki-duotone ki-phone fs-2"><span class="path1"></span><span class="path2"></span></i>
                    <a class="text-muted fs-5 text-hover-primary">
                        @if (companyInfo is null)
                        {
                            <MudSkeleton Width="150px" Height="20px;" />
                        }
                        else
                        {
                            <span class="fw-bold">
                                @languageContainer.Keys["Contact Phone"]:
                            </span>
                            @companyInfo.ContactPhone
                        }
                    </a>
                </div>
                <!--end::Phone-->
                <!--begin::Phone-->
                <div class="d-flex align-items-center gap-2 mb-3  text-hover-primary">
                    <i class="ki-duotone ki-tablet fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                    </i>
                    <a class="text-muted fs-5 text-hover-primary">
                        @if (companyInfo is null)
                        {
                            <MudSkeleton Width="150px" Height="20px;" />
                        }
                        else
                        {
                            <span class="fw-bold">
                                @languageContainer.Keys["Contact Mobile"]:
                            </span>
                            @companyInfo.ContactMobile
                        }
                    </a>
                </div>
                <!--end::Phone-->
                <!--begin::Phone-->
                <div class="d-flex align-items-center gap-2 mb-3 text-hover-primary">
                    <i class="ki-duotone ki-shop fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                    </i>                    
                    <a class="text-muted fs-5 text-hover-primary">
                        @if (companyInfo is null)
                        {
                            <MudSkeleton Width="150px" Height="20px;" />
                        }
                        else
                        {
                            <span class="fw-bold">
                                @languageContainer.Keys["VAT Registration Number"]:
                            </span>
                            @companyInfo.VatRegistrationNumber
                        }
                    </a>
                </div>
                <!--end::Phone-->
                <!--begin::Phone-->
                <div class="d-flex align-items-center gap-2 mb-3 text-hover-primary">
                    <i class="ki-duotone ki-icon fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                    </i>
                    <a class="text-muted fs-5 text-hover-primary">
                        @if (companyInfo is null)
                        {
                            <MudSkeleton Width="150px" Height="20px;" />
                        }
                        else
                        {
                            <span class="fw-bold">
                                @languageContainer.Keys["Hotline"]:
                            </span>
                            @companyInfo.Hotline
                        }
                    </a>
                </div>
                <!--end::Phone-->
                <!--begin::Phone-->
                <div class="d-flex align-items-center gap-2 text-hover-primary">
                    <i class="ki-duotone ki-geolocation fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <a class="text-muted fs-5 text-hover-primary">
                        @if (companyInfo is null)
                        {
                            <MudSkeleton Width="150px" Height="20px;" />
                        }
                        else
                        {
                            <span class="fw-bold">
                                @languageContainer.Keys["Address"]:
                            </span>
                            @companyInfo.Address
                        }
                    </a>
                </div>
                <!--end::Phone-->
            </div>
            <!--end::Info-->
            <div class="d-flex my-4">
                <a href="/CompanyInfo/Form" class="btn btn-primary">
                    <i class="fa-solid fa-pen-to-square me-1"></i>
                    @languageContainer.Keys["Edit"]
                </a>
            </div>
        </div>
        <!--end::Profile-->
    </div>
    <!--end::Card body-->
</div>

<div class="card border border-gray-300 shadow-sm">
    <!--begin::Body-->
    <div class="card-body">
        <!--begin::About-->
        <div class="mb-18">
            <!--begin::Wrapper-->
            <div class="mb-10 px-10 py-5 border rounded-lg border-gray-300">
                <!--begin::Top-->
                <div class="text-center mb-5">
                    <!--begin::Title-->
                    <h3 class="fs-1 fw-bold xtext-gray-900">@languageContainer.Keys["Who We Are"]</h3>
                    <!--end::Title-->
                </div>
                <!--begin::Description-->
                <div class="fs-5 fw-semibold text-gray-600">
                    @if (companyInfo is null)
                    {
                        <MudSkeleton Animation="Animation.Wave" Width="95%" />
                        <MudSkeleton Animation="Animation.Wave" Width="100%" />
                        <MudSkeleton Animation="Animation.Wave" Width="95%" />
                        <MudSkeleton Animation="Animation.Wave" Width="100%" />
                        <MudSkeleton Animation="Animation.Wave" Width="100%" />
                    }
                    else
                    {
                        <!--begin::Text-->
                        <p>
                            @companyInfo.WhoWeAre
                        </p>
                        <!--end::Text-->
                    }
                </div>
                <!--end::Description-->
                <!--end::Top-->
            </div>
            <!--end::Wrapper-->
            <!--begin::Wrapper-->
            <div class="mb-10 px-10 py-5 border rounded-lg border-gray-300">
                <!--begin::Top-->
                <div class="text-center mb-5">
                    <!--begin::Title-->
                    <h3 class="fs-1 fw-bold text-gray-900">@languageContainer.Keys["Vision"]</h3>
                    <!--end::Title-->
                </div>
                <!--begin::Description-->
                <div class="fs-5 fw-semibold text-gray-600">
                    @if (companyInfo is null)
                    {
                        <MudSkeleton Animation="Animation.Wave" Width="95%" />
                        <MudSkeleton Animation="Animation.Wave" Width="100%" />
                        <MudSkeleton Animation="Animation.Wave" Width="95%" />
                        <MudSkeleton Animation="Animation.Wave" Width="100%" />
                        <MudSkeleton Animation="Animation.Wave" Width="100%" />
                    }
                    else
                    {
                        <!--begin::Text-->
                        <p>
                            @companyInfo.Vision
                        </p>
                        <!--end::Text-->
                    }
                </div>
                <!--end::Description-->
                <!--end::Top-->
            </div>
            <!--end::Wrapper-->
            <!--begin::Wrapper-->
            <div class="mb-10 px-10 py-5 border rounded-lg border-gray-300">
                <!--begin::Top-->
                <div class="text-center mb-5">
                    <!--begin::Title-->
                    <h3 class="fs-1 fw-bold text-gray-900">@languageContainer.Keys["Mission"]</h3>
                    <!--end::Title-->
                </div>
                <!--begin::Description-->
                <div class="fs-5 fw-semibold text-gray-600">
                    @if (companyInfo is null)
                    {

                        <MudSkeleton Animation="Animation.Wave" Width="95%" />
                        <MudSkeleton Animation="Animation.Wave" Width="100%" />
                        <MudSkeleton Animation="Animation.Wave" Width="95%" />
                        <MudSkeleton Animation="Animation.Wave" Width="100%" />
                        <MudSkeleton Animation="Animation.Wave" Width="100%" />
                    }
                    else
                    {
                        <!--begin::Text-->
                        <p>
                            @companyInfo.Mission
                        </p>
                        <!--end::Text-->
                    }
                </div>
                <!--end::Description-->
                <!--end::Top-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::About-->
        <!--begin::Card-->
        <div class="card mb-4 bg-light text-center ">
            <!--begin::Body-->
            <div class="card-body py-5">
                @if (companyInfo is null)
                {
                    <div class="d-flex justify-content-center">
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="30px" Width="30px" Class="mx-4" />
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="30px" Width="30px" Class="mx-4" />
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="30px" Width="30px" Class="mx-4" />
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="30px" Width="30px" Class="mx-4" />
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="30px" Width="30px" Class="mx-4" />
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Animation="Animation.Wave" Height="30px" Width="30px" Class="mx-4" />
                    </div>
                }
                else
                {
                    <!--begin::Icon-->
                    <a href="@companyInfo.InstagramUrl" class="mx-4 @(string.IsNullOrEmpty(companyInfo.InstagramUrl)? "d-none" : string.Empty)">
                        <MudIcon Color="Color.Secondary" Icon="@Icons.Custom.Brands.Instagram" Size="Size.Large" />
                    </a>
                    <!--end::Icon-->
                    <!--begin::Icon-->
                    <a href="@companyInfo.FacebookUrl" class="mx-4 @(string.IsNullOrEmpty(companyInfo.FacebookUrl)? "d-none" : string.Empty)">
                        <MudIcon Color="Color.Info" Icon="@Icons.Custom.Brands.Facebook" Size="Size.Large" />
                    </a>
                    <!--end::Icon-->
                    <!--begin::Icon-->
                    <a href="@companyInfo.TwitterUrl" class="mx-4 @(string.IsNullOrEmpty(companyInfo.TwitterUrl)? "d-none" : string.Empty)">
                        <MudIcon Color="Color.Info" Icon="@Icons.Custom.Brands.Twitter" Size="Size.Large" />
                    </a>
                    <!--end::Icon-->
                    <!--begin::Icon-->
                    <a href="@companyInfo.LinkedInUrl" class="mx-4 @(string.IsNullOrEmpty(companyInfo.LinkedInUrl)? "d-none" : string.Empty)">
                        <MudIcon Color="Color.Info" Icon="@Icons.Custom.Brands.LinkedIn" Size="Size.Large" />
                    </a>
                    <!--end::Icon-->
                    <!--begin::Icon-->
                    <a href="@companyInfo.TelegramUrl" class="mx-4 @(string.IsNullOrEmpty(companyInfo.TelegramUrl)? "d-none" : string.Empty)">
                        <MudIcon Color="Color.Info" Icon="@Icons.Custom.Brands.Telegram" Size="Size.Large" />
                    </a>
                    <!--end::Icon-->
                    <!--begin::Icon-->
                    <a href="@companyInfo.YoutubeUrl" class="mx-4 @(string.IsNullOrEmpty(companyInfo.YoutubeUrl)? "d-none" : string.Empty)">
                        <MudIcon Color="Color.Error" Icon="@Icons.Custom.Brands.YouTube" Size="Size.Large" />
                    </a>
                    <!--end::Icon-->
                }
            </div>
            <!--end::Body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Body-->
</div>
