@attribute [Authorize]

<div class="d-flex align-items-center">
    <MudFileUpload @bind-Files="uploadedImageFile" T="IBrowserFile" OnFilesChanged="LoadImage" Accept=".jpg, .png">
        <ButtonTemplate>
            <MudButton Size="Size.Large" Variant="Variant.Filled" DisableElevation=true HtmlTag="label" Color="Color.Info"
                       StartIcon="@Icons.Material.Filled.Image" for="@context">
                @languageContainer.Keys["Upload image"]
            </MudButton>
        </ButtonTemplate>
        <SelectedTemplate>
            @if (context != null)
            {
                <div class="d-flex align-items-center mt-2">
                    <MudText Style=" white-space: nowrap;overflow: hidden;text-overflow: ellipsis;" Class="me-2 w-100px">
                        @($"{context.Name}")
                    </MudText>
                    <MudIconButton OnClick="Clear" Icon="@Icons.Material.Filled.Cancel" Color="Color.Error"></MudIconButton>
                </div>
            }
            else
            {
                <div class="d-flex align-items-center mt-2">
                    <MudText Class="me-2 ">@languageContainer.Keys["No selected image"]</MudText>
                    <MudIconButton Disabled=true Icon="@Icons.Material.Filled.HideImage" Color="Color.Info"></MudIconButton>
                </div>
            }
        </SelectedTemplate>
    </MudFileUpload>
    <MudAvatar Elevation="25" Class="ms-5" Rounded="true" Style="height:80px; width:80px;">
        <MudImage Class="cursor-all-scroll" @onclick="() => ShowImagePreview((uploadedImage is null ? CurrentImage : uploadedImage))" Src="@(uploadedImage is null ? CurrentImage : uploadedImage)"></MudImage>
    </MudAvatar>
</div>
