@attribute [Authorize(Roles = Roles.SupervisorRole)]

<div id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false" class="flex-column-fluid menu menu-sub-indention menu-column menu-rounded menu-active-bg mb-7">
    <Navlink IsDarkMood="@IsDarkMood" Href="/" MenuTitle="Dashboard" Icon="@Icons.Material.TwoTone.SpaceDashboard" NavLinkMatch="@NavLinkMatch.All" />
    <Navlink IsDarkMood="@IsDarkMood" Href="/ReferenceData" MenuTitle="Reference Data" Icon="@Icons.Material.TwoTone.ManageSearch" />
    <Navlink IsDarkMood="@IsDarkMood" Href="/Providers" MenuTitle="Providers" Icon="@Icons.Material.TwoTone.Engineering" />
</div>

@code {
    [Parameter][EditorRequired] public bool IsDarkMood { get; set; }
}
