@attribute [Authorize(Roles = Roles.SupervisorRole)]

<div id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false" class="flex-column-fluid menu menu-sub-indention menu-column menu-rounded menu-active-bg mb-7">
    <Navlink IsDarkMood="@IsDarkMood" Href="/" MenuTitle="Dashboard" Icon="@Icons.Material.Outlined.SpaceDashboard" NavLinkMatch="@NavLinkMatch.All" />
    <Navlink IsDarkMood="@IsDarkMood" Href="/ReferenceData" MenuTitle="Reference Data" Icon="@Icons.Material.Outlined.ManageSearch" />
    <Navlink IsDarkMood="@IsDarkMood" Href="/Providers" MenuTitle="Providers" Icon="@Icons.Material.Outlined.Engineering" />
    <Navlink IsDarkMood="@IsDarkMood" Href="/Orders" MenuTitle="Orders" Icon="@EntityIcons.OrderIcon" />
    <Navlink IsDarkMood="@IsDarkMood" Href="/Complaints" MenuTitle="Complaints" Icon="@EntityIcons.ComplaintIcon" />
    <Navlink IsDarkMood="@IsDarkMood" Href="/Reviews" MenuTitle="Reviews" Icon="@EntityIcons.ReviewIcon" />
    <Navlink IsDarkMood="@IsDarkMood" Href="/Complaints" MenuTitle="Complaints" Icon="@EntityIcons.ComplaintIcon" />
    <Navlink IsDarkMood="@IsDarkMood" Href="/Reviews" MenuTitle="Reviews" Icon="@EntityIcons.ReviewIcon" />
</div>

@code {
    [Parameter][EditorRequired] public bool IsDarkMood { get; set; }
}
