@page "/Audits"
@attribute [Authorize(Roles = $"{Roles.AdminRole},{Roles.ManagerRole}")]
@inherits BasePage

<PageTitle>
    @languageContainer.Keys["Audits"]
</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>
<BrowserViewportObserver TableHeightChanged="TableHeightChanged" />

<MudCard Elevation="25">
    <MudCardContent>
        <MudDataGrid T="AuditDto" Dense="true" Elevation="0" FixedHeader="true" Height="@($"{tableHight}px")"
                     Loading="@(isLoading)" LoadingProgressColor="Color.Info" Filterable="true"
                     Items="audits" Hover="true" SortMode="SortMode.Single" QuickFilter="@FilterFunc">

            <ToolBarContent>
                <div class="d-flex justify-content-between flex-column align-items-center flex-md-row w-100">
                    <div class="w-md-25 w-100">
                        <div class="d-flex align-items-center">
                            <MudAvatar Rounded="true" Color="Color.Info">
                                <MudIcon Icon="@Icons.Material.Filled.History" />
                            </MudAvatar>
                            <MudText Class="mx-3" Typo="Typo.h5">
                                @languageContainer.Keys["Audits"]
                            </MudText>
                        </div>
                    </div>
                    <div class="w-md-50 w-100">
                        <MudTextField @bind-Value="searchString" Adornment="Adornment.Start" Class="mt-0 mb-5" Immediate="true"
                                      Placeholder=@($"{languageContainer.Keys["Search For"]} User Id, Type, Table Name, Date")
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" />
                    </div>
                </div>
            </ToolBarContent>
            <NoRecordsContent>
                <NoDataToDisply />
            </NoRecordsContent>
            <Columns>
                <PropertyColumn Property="x => x.UserId" Title="User Id" />
                <PropertyColumn Property="x => x.Type" Title="Type" />
                <PropertyColumn Property="x => x.TableName" Title="Table Name" />
                <PropertyColumn Property="x => x.DateTime.ToString()" Title="Date Time" />
                <TemplateColumn Context="audit" Sortable="false" Filterable="false" Title="Actions">
                    <CellTemplate>
                        <MudButtonGroup Size="Size.Small" Color="Color.Info" Variant="Variant.Outlined">
                            <MudIconButton OnClick="() => ShowAuditDetailsDialog(audit.Item!.Id)" Disabled="isDisable" Icon="@Icons.Material.Filled.Info" />
                        </MudButtonGroup>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>

            <PagerContent>
                <MudDataGridPager T="AuditDto" />
            </PagerContent>
        </MudDataGrid>
    </MudCardContent>
</MudCard>
