@inherits BasePage

<div class="card  mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header border-0 cursor-pointer">
        <div class="card-title m-0">
            <h3 class="fw-bold m-0">Account Settings</h3>
        </div>
    </div>
    <!--end::Card header-->
    <!--begin::Content-->
    <div>
        <!--begin::Card body-->
        <div class="card-body border-top p-9">
            <!--begin::Email Address-->
            <div class="d-flex flex-wrap align-items-center">
                <!--begin::Label-->
                <div>
                    <div class="fs-6 fw-bold mb-1">Email Address</div>
                    <div class="fw-semibold text-gray-600">@Email</div>
                </div>
                <!--end::Label-->
                <!--begin::Action-->
                <div class="ms-auto">
                    <button class="btn btn-light-primary">Confirm Email</button>
                </div>
                <!--end::Action-->
            </div>
            <!--end::Email Address-->
            <!--begin::Separator-->
            <div class="separator separator-dashed my-6"></div>
            <!--end::Separator-->
            <!--begin::Password-->
            <div class="d-flex flex-wrap align-items-center mb-10">
                <!--begin::Label-->
                <div>
                    <div class="fs-6 fw-bold mb-1">Password</div>
                    <div class="fw-semibold text-gray-600">************</div>
                </div>
                <!--end::Label-->
                <!--begin::Action-->
                <div class="ms-auto">
                    <button @onclick="ShowResetPassword" class="btn btn-light-primary">Reset Password</button>
                </div>
                <!--end::Action-->
            </div>
            <!--end::Password-->
            <!--begin::Notice-->
            @if(twoFactorAuthDto is null)
            {
                <div class="notice d-flex bg-light-success rounded border-success border p-6">
                    <!--begin::Icon-->
                    <MudSkeleton SkeletonType="SkeletonType.Circle" Animation="Animation.Wave" Height="40px" Width="40px" />                    <!--end::Icon-->
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
                        <!--begin::Content-->
                        <div class="mb-3 mb-md-0 fw-semibold">
                            <MudSkeleton Animation="Animation.Wave" />
                            <MudSkeleton Animation="Animation.Wave" />
                        </div>
                        <!--end::Content-->
                        <!--begin::Action-->
                        <a class="btn btn-Success px-6 align-self-center text-nowrap">
                            <MudSkeleton Animation="Animation.Wave" />
                        </a>
                        <!--end::Action-->
                    </div>
                    <!--end::Wrapper-->
                </div>
            }
            else if (twoFactorAuthDto.isTwoFactorEnabled)
            {
                <div class="notice d-flex bg-light-success rounded border-success border p-6">
                    <!--begin::Icon-->
                    <i class="ki-duotone ki-shield-tick fs-2tx text-success me-4"><span class="path1"></span><span class="path2"></span></i>
                    <!--end::Icon-->
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
                        <!--begin::Content-->
                        <div class="mb-3 mb-md-0 fw-semibold">
                            <h4 class="text-gray-700 fw-bold">
                                @languageContainer.Keys["Your Account Is Secured"]
                            </h4>
                            <div class="fs-6 text-gray-700 pe-7">
                                @languageContainer.Keys["Two-factor authentication adds an extra layer of security to your account"]
                                <br />
                                @languageContainer.Keys["To log in, in addition you'll need to provide a 6 digit code"]
                            </div>
                        </div>
                        <!--end::Content-->
                        <!--begin::Action-->
                        <a @onclick="ShowTwoFactorAuthMoreInfo" class="btn btn-success px-6 align-self-center text-nowrap @(isDisable? "disabled" : string.Empty)">
                            @if (isLoading)
                            {
                                <span class="indicator-label">
                                    <span class="spinner-border spinner-border-sm align-middle"></span>
                                </span>
                            }
                            else
                            {
                                <span class="indicator-label">
                                    @languageContainer.Keys["More Info"]
                                </span>
                            }
                        </a>
                        <!--end::Action-->
                    </div>
                    <!--end::Wrapper-->
                </div>
            }
            else
            {
                <!--begin::Notice-->
                <div class="notice d-flex bg-light-warning rounded border-warning border p-6">
                    <!--begin::Icon-->
                    <i class="ki-duotone ki-information fs-2tx text-warning me-4"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                    <!--end::Icon-->
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
                        <!--begin::Content-->
                        <div class="mb-3 mb-md-0 fw-semibold">
                            <h4 class="text-gray-900 fw-bold">@languageContainer.Keys["Secure Your Account"]</h4>

                            <div class="fs-6 text-gray-700 pe-7">
                                @languageContainer.Keys["Two-factor authentication adds an extra layer of security to your account"]
                                <br />
                                @languageContainer.Keys["To log in, in addition you'll need to provide a 6 digit code"]
                            </div>
                        </div>
                        <!--end::Content-->
                        <!--begin::Action-->
                        <a @onclick="ChangeStatusOfTwoFactorAuth" class="btn btn-success px-6 align-self-center text-nowrap @(isDisable? "disabled" : string.Empty)">
                            @if (isLoading)
                            {
                                <span class="indicator-label">
                                    <span class="spinner-border spinner-border-sm align-middle"></span>
                                </span>
                            }
                            else
                            {
                                <span class="indicator-label">
                                    @languageContainer.Keys["Enable"]
                                </span>
                            }
                        </a>
                        <!--end::Action-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Notice-->
            }
            <!--end::Notice-->
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Content-->
</div>