@inherits BasePage
@attribute [Authorize(Roles = Roles.AdminRole)]

<MudDialog>
    <DialogContent>
        <EditForm Model="resetPasswordForm" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div>
                <div class="mb-1">
                    <div class="fv-row mb-0 fv-plugins-icon-container mb-3">
                        <label for="currentpassword" class="form-label fs-6 fw-bold mb-3">@languageContainer.Keys["Current Password"]</label>
                        <InputText @bind-Value="@resetPasswordForm.CurrentPassword" type="password" class="form-control form-control-lg form-control-solid " />
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"><ValidationMessage For="() => resetPasswordForm.CurrentPassword" /></div>
                    </div>
                    <div class="fv-row mb-0 fv-plugins-icon-container mb-3">
                        <label for="newpassword" class="form-label fs-6 fw-bold mb-3">@languageContainer.Keys["New Password"]</label>
                        <InputText @bind-Value="@resetPasswordForm.NewPassword" type="password" class="form-control form-control-lg form-control-solid " />
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"><ValidationMessage For="() => resetPasswordForm.NewPassword" /></div>
                    </div>
                    <div class="fv-row mb-0 fv-plugins-icon-container mb-3">
                        <label for="confirmpassword" class="form-label fs-6 fw-bold mb-3">@languageContainer.Keys["Confirm New Password"]</label>
                        <InputText @bind-Value="@resetPasswordForm.ConfirmPassword" type="password" class="form-control form-control-lg form-control-solid" />
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"><ValidationMessage For="() => resetPasswordForm.ConfirmPassword" /></div>
                    </div>
                </div>

                <FormButtons IsLoading="isLoading" />
            </div>
        </EditForm>
    </DialogContent>
    <DialogActions>
    </DialogActions>
</MudDialog>

@code{
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public string UserId { get; set; } = null!;

    private ResetPasswordDto resetPasswordForm = new();

    private async Task OnValidSubmit(EditContext context)
    {
        StartProcessing();

        var result = await AddAsync<ResetPasswordDto>($"Account/ChangePassword?id={UserId}", resetPasswordForm);

        if (result.isSucces)
        {
            MudDialog.Close(DialogResult.Ok(true));
        }

        StopProcessing();
    }
}
