@page "/ReferenceData"
@attribute [Authorize(Roles = Roles.AdminRole)]
@inherits BasePage

<PageTitle>
    @languageContainer.Keys["Reference Data"]
</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems"></MudBreadcrumbs>
<BrowserViewportObserver TableHeightChanged="TableHeightChanged" />

<MudCard Elevation="25">
    <MudCardContent>
        <MudDataGrid T="LookupDto" Dense="true" Elevation="0" FixedHeader="true" Height="@($"{tableHight}px")"
                     Loading="@(isLoading)" LoadingProgressColor="Color.Info" Filterable="true"
                     Items="LookupList" Hover="true" SortMode="SortMode.Single" QuickFilter="@FilterFunc">

            <ToolBarContent>
                <div class="d-flex justify-content-between flex-column align-items-center flex-md-row w-100">
                    <div class="w-md-50 w-100">
                        <div class="d-flex align-items-center w-100">
                            <MudAvatar Rounded="true" Color="Color.Info">
                                <MudIcon Icon="@Icons.Material.Filled.ManageSearch" />
                            </MudAvatar>
                            <MudAutocomplete T="string" Label="@languageContainer.Keys["Reference Data Tables"]" SearchFunc="@GetTablesAsync" Class="mx-2 mx-md-3"
                                             Variant="Variant.Outlined" ShowProgressIndicator="true" ResetValueOnEmptyText="true" CoerceText="true"
                                             ProgressIndicatorColor="Color.Info" Margin="Margin.Dense" Clearable ValueChanged="TableChanged" ToStringFunc="t => ConvertPascalCaseToNormalText(t)">
                                 <NoItemsTemplate>
                                     <MudText Align="Align.Center" Class="px-4 py-4">
                                         No items found
                                     </MudText>
                                 </NoItemsTemplate>
                             </MudAutocomplete>
                             <MudIconButton Disabled="hideTableActions" OnClick="() => ShowForm()" Icon="@Icons.Material.Filled.Add" Color="Color.Success"></MudIconButton>
                         </div>
                     </div>
                     <div class="w-md-25 w-100">
                         <MudTextField @bind-Value="searchString" Adornment="Adornment.Start" Class="mt-0 mb-5" Immediate="true"
                                       Placeholder=@($"{languageContainer.Keys["Search For"]} {@languageContainer.Keys["Name"]}")
                                       AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" />
                     </div>
                 </div>
             </ToolBarContent>
             <NoRecordsContent>
                 <NoDataToDisply />
             </NoRecordsContent>
             <Columns>
                 <PropertyColumn Property="x => x.Name" Title="@languageContainer.Keys["Name"]" />
                 <PropertyColumn Property="x => x.OrderIndex" Title="@languageContainer.Keys["Order"]" />

                 <TemplateColumn Title="@languageContainer.Keys["Actions"]" CellClass="text-center" Context="Refdata" HeaderClass="text-center" Sortable="false" Filterable="false">
                     <HeaderTemplate>
                         <MudText Class="w-100">
                             @languageContainer.Keys["Actions"]
                        </MudText>
                    </HeaderTemplate>
                    <CellTemplate>
                        <div>
                            <TableButtons IsEditHide="hideTableActions" IsDeleteHide="hideTableActions" IsDetailsHide="true" IsDisable="isDisable" EditClicked="() => ShowForm(Refdata.Item!.Id)" DeleteClicked="() => Delete(Refdata.Item!.Id)" />
                        </div>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>

            <PagerContent>
                <MudDataGridPager T="LookupDto" />
            </PagerContent>
        </MudDataGrid>
    </MudCardContent>
</MudCard>
