@page "/Reviews"
@attribute [Authorize(Roles = $"{Roles.AdminRole},{Roles.ManagerRole},{Roles.SupervisorRole}")]
@inherits BasePage

<PageTitle>
    @languageContainer.Keys["Reviews"]
</PageTitle>
<MudBreadcrumbs Items="breadcrumbItems" />
<BrowserViewportObserver TableHeightChanged="TableHeightChanged" />

<MudCard Elevation="25">
    <MudCardContent>
        <MudDataGrid T="ReviewDto" Dense="true" Elevation="0" FixedHeader="true" Height="@($"{tableHight}px")" SelectedItemsChanged="SelectedItemsChanged"
                     Loading="@(isLoading)" LoadingProgressColor="Color.Info" Filterable="true" MultiSelection="true"
                     Items="reviews" Hover="true" SortMode="SortMode.Single" QuickFilter="@FilterFunc">

            <ToolBarContent>
                <div class="d-flex justify-content-between flex-column align-items-center flex-md-row w-100">
                    <div class="w-md-25 w-100">
                        <div class="d-flex align-items-center">
                            <MudAvatar Rounded="true" Color="Color.Info">
                                <MudIcon Icon="@EntityIcons.ReviewIcon" />
                            </MudAvatar>
                            <MudText Class="mx-3" Typo="Typo.h5">
                                @languageContainer.Keys["Reviews"]
                            </MudText>
                            <MudIconButton OnClick="DeleteAll" Disabled="@(selectedIds.Count() < 2 ? true : false)" Icon="@Icons.Material.Filled.DeleteForever" Color="Color.Error"></MudIconButton>
                        </div>
                    </div>
                    <div class="w-md-50 w-100">
                        <MudTextField @bind-Value="searchString" Adornment="Adornment.Start" Class="mt-0 mb-5" Immediate="true"
                                      Placeholder=@($"{languageContainer.Keys["Search For"]} Name, Order Index")
                                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" />
                    </div>
                </div>
            </ToolBarContent>

            <NoRecordsContent>
                <NoDataToDisply />
            </NoRecordsContent>

            <Columns>
                <SelectColumn T="ReviewDto" ShowInFooter="false" />

                <PropertyColumn Property="x => string.Join(' ', x.Client.FirstName, x.Client.LastName)" Title="@languageContainer.Keys["Client"]" />
                <PropertyColumn Property="x => x.Order.OrderNumber" Title="@languageContainer.Keys["Order"]" />
                <PropertyColumn Property="@(x => x.CreatedAtLocal.ToString("dd MMM,yyyy hh:mm tt"))" Title="@languageContainer.Keys["Date"]" />

                <TemplateColumn Title="@languageContainer.Keys["Rate"]" Context="review" HeaderClass="text-center" CellClass="text-center" Sortable="false" Filterable="false">
                    <HeaderTemplate>
                        <MudText Class="w-100">
                            @languageContainer.Keys["Rate"]

                        </MudText>
                    </HeaderTemplate>
                    <CellTemplate>
                        <MudTooltip Text="@(review.Item.Rate.ToString())" Arrow="true">
                            <MudRating ReadOnly="true" SelectedValue="@((int)review.Item.Rate)" />
                        </MudTooltip>
                    </CellTemplate>
                </TemplateColumn>

                <TemplateColumn Title="@languageContainer.Keys["Actions"]" CellClass="text-center" Context="review" HeaderClass="text-center" Sortable="false" Filterable="false">
                    <HeaderTemplate>
                        <MudText Class="w-100">
                            @languageContainer.Keys["Actions"]
                        </MudText>
                    </HeaderTemplate>
                    <CellTemplate>
                        <div>
                            <TableButtons IsDisable="isDisable" IsEditHide="true"
                                          DeleteClicked="() => Delete(review.Item!.Id)" DetailsClicked="() => OpenDetails(detailsUri,review.Item!.Id)" />
                            <AuthorizeView  Roles="@Roles.AdminRole">
                                <a @onclick="() => ToggleStatus(review.Item)" class="btn btn-sm btn-light-@(review.Item!.ShowInApp? "success" : "danger")">
                                    <i class="fa-solid fa-eye@(review.Item!.ShowInApp? string.Empty : "-slash")"></i>
                                </a>
                            </AuthorizeView>
                        </div>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>

            <PagerContent>
                <MudDataGridPager T="ReviewDto" />
            </PagerContent>
        </MudDataGrid>
    </MudCardContent>
</MudCard>
